[2017-12-07 18:13] mattdturner opened #45 "Array out of bounds failure"
When running the test suite on Onyx (a Cray XC40/50 using Intel), the model fails to run to completion for case onyx_smoke_col_1x1_alt01_debug_run1year.  The relevant portion of the runlog file is:
[code]

[2017-12-07 18:17] apcraig commented on #45
This is happening on all machines and needs to be fixed.  Thanks for creating an issue.

[2017-12-07 18:17] apcraig opened #46 "bgc exact restart fails during icepack testing"
PASS cheyenne_restart_col_1x1_bgcISPOL run-initial
FAIL cheyenne_restart_col_1x1_bgcISPOL run-restart

[2017-12-15 20:54] eclare108213 opened #48 "Gsum bug"
Gsum is the cumulative area of ice and open water in a grid cell.  It is occasionally 0 and causes a divzero error, though probably not in active grid cells.  Fixing it may cause nonBFB results and therefore this will need to be tested in the full CICE model, once the new version of Icepack is added there.

[2017-12-15 21:00] eclare108213 opened #49 "convergence test"
Use the SHEBA convergence data provided by CC Bitz to test the ridging scheme

[2017-12-19 00:46] eclare108213 commented on #45
This issue is fixed in Icepack PR #50

[2017-12-19 02:02] eclare108213 commented on #46
@mattdturner
This case is failing because the restart test is looking for restart files in a restart/ directory, which is empty; there are restart files in restart_baseline/.  I don't understand why this case (ISPOL) fails but others do not.  Other cases have restart files in both places.  Can you explain what is going on here, or how it is supposed to work?  Thx

[2017-12-19 16:02] #45 closed

[2017-12-19 16:27] eclare108213 commented on #46
I suspect that the problem with this case has to do with the start and end times of the ISPOL data.  Since it's from an actual field campaign, the start date is not Jan 1 and it doesn't run for a full year.

       year_init       = 2004
       istep0          = 4008
       npt             = 4776

The first restart file written is

       ./restart/iced.2004-07-01-00000

and the original test is s

[2017-12-19 17:14] mattdturner commented on #46
The way the restart tests work is that the 'run-initial' simulation outputs to the restart/ directory.  The test_restart.script file then renames the restart/ directory to restart_baseline/, copies a restart file to restart/, and runs the 'run-restart' case.

It appears that the restart file date-time group is currently hard-coded to be 2015-03-01.  I'll start looking at a better way to determine

[2017-12-26 18:23] eclare108213 opened #57 "NBTRCR undefined"
The NAG compiler reports that NBTRCR is undefined in line 297 of ice_zbgc.f90
(issue noted by DMI collaborators)

[2017-12-26 18:40] eclare108213 opened #58 "restart diagnostics"
The heading "min/max [field]" is printed to diagnostic output when restarts are read, but the min and max values are not calculated and printed.  Either remove the heading or add the values.

[2017-12-26 22:14] eclare108213 opened #59 "creating directories"
When scripts create new directories, please have them first check whether the directory exists.  This example came up when I tried to re-run a restart test in a previously used run directory, using a slightly different namelist configuration.

mkdir: cannot create directory `/net/scratch3/eclare/ICEPACK_RUNS/pinto_restart_col_1x1_debug.testrestart/diags_baseline': File exists

Let's keep an eye ou

[2017-12-27 14:36] mattdturner commented on #59
What is the desired behavior?  Do you want the scripts to error out if the directory already exists, or just skip the `mkdir` command and continue?

[2017-12-27 14:39] eclare108213 commented on #59
Just skip and continue.  This is what we did in the old cice scripts:
if !(-d $EXEDIR) mkdir -p $EXEDIR

[2017-12-27 15:15] #59 closed

[2018-01-01 00:37] eclare108213 opened #63 "Documentation chapters"
Fix overall layout of the Icepack documentation:
Table of contents should not be a chapter (but could be chapter 1 if necessary).
Chapter 1 Introduction (or chapter 2)
Chapter 2 Science Guide
Chapter 3 User Guide
Chapter 4 Developer Guide
Index of primary variables and parameters (could be chapter 6 if necessary)
Bibliography

[2018-01-01 00:40] eclare108213 opened #64 "list updates to column physics since cice v5.1.2 release"

[2018-01-01 00:45] eclare108213 opened #65 "doc wind stress option"
Replace "We have ignored ice motion in u*..." with information about the new option that includes the ice velocity in the wind stress calculation (all turbulent fluxes?), and the circumstances under which it should be used.  This is in the 'Atmosphere' section of the Science Guide.

[2018-01-01 00:58] eclare108213 opened #66 "add comment about formdrag parameterization to 'known bugs'"

[2018-01-01 01:00] eclare108213 opened #67 "figure and table labels in pdf"
Clean up labels for figures and tables, and make sure they are numbered in order.  This appears to be an issue only in the pdf version, not in the html.

[2018-01-01 01:02] eclare108213 opened #68 "strata"
Document the set of variables used for tracking tracers on tracers

[2018-01-01 01:05] eclare108213 opened #69 "Missing text"
Fix sentences that are missing text in the documentation - look at v5.1.2 doc.
Thermodynamics section:
"... which cannot exceed . "
"... raise its temperature to ."
New temperatures section (BL99):
"... which is held at , and ..."
New temperatures section (mushy):
"... raise the temperature of the sea ice to , including..."
Growth and melting section:
"... of liquid water at . "

[2018-01-01 01:10] eclare108213 opened #70 "pond parameters"
In the appropriate -s files, set rfracmax=0.7 and rfracmin=0.15 for the cesm and topo melt pond tests.  For the level-ice pond scheme rfracmax=1.0.

[2018-01-01 01:12] eclare108213 opened #71 "icepack_in default"
Set icepack_in default values as in cice v5.1.2 ice_in and adjust -s options as needed for code coverage.

[2018-01-01 01:25] eclare108213 opened #72 "number of bgc layers?"
The doc currently has this:

``For zbgc with 8 vertical layers:``

    setenv TRBRI  1   # set to 1 for brine height tracer
    setenv TRBGCS 0   # set to 1 for skeletal layer tracers
    setenv TRBGCZ 1   # set to 1 for zbgc tracers
    setenv NBGCLYR 7  # number of zbgc layers

Are there 8 layers when NBGCLYR is 7?

[2018-01-01 01:27] eclare108213 opened #73 "BGC forcing"
Please add a paragraph describing the ISPOL and N-ICE cases, including forcing fields, time period, and references to the field experiments.

[2018-01-01 01:32] eclare108213 opened #74 "documentation of bgc namelist"
Move zbgc namelist options into the namelist table, or create a separate table for it.  This is in the User Guide now.  Replace p1 with 0.1, etc, and remove _dbl_kind from doc table.  Is everything in the 'BGC tuning parameters' table also in namelist?

Also, the current table in the docs looks like it was copied straight out of the code (where it sets defaults).  If that is true, then some of the

[2018-01-01 01:42] eclare108213 opened #75 "which conservation equation?"
In the "Mobile and stationary phases" section,
``The conservation equations are given by Eq. 18 in the CICE v5 documentation with a_pnd a_i replaced by f_b v_in.``
Eq. 18 does not look like the right one.  Is eq. 16 in the Icepack documentation the one you were thinking of? (if the eq numbers change, it's the first equation in the 'tracers that depend on other tracers' section)

[2018-01-01 01:45] eclare108213 opened #76 "365?"
In the reactions section,
``Very long timescales will remove this source/sink term.  The default value is currently set at 3065 days to turn off this dependency.``
Is it really 3065?  Looks like a typo.

[2018-01-01 01:48] eclare108213 opened #77 "Fe"
Dissolved and particulate iron seems to be labeled inconsistently in the code and also in the documentation.  In some places it is fed, fep, others dFe, pFe.  Can we make all of these references or labels or variable names consistent, or is there a real difference in them?

[2018-01-01 01:52] eclare108213 opened #78 "bgc transport eq number"
There's an equation number missing in the first sentence of the "flux-corrected, positive definite transport scheme" section.  [eqn:mobile_transport] does not exist in this documentation.

[2018-01-01 01:56] eclare108213 opened #79 "test configurations, forcing"
We need a description of each of the forcing data sets, and the 'test configurations' section needs to be updated or removed from the User Guide (section 1, Implementation).  This section generally needs more information and/or updating.

[2018-01-01 02:04] eclare108213 opened #80 "clean up index of variables"
Remove anything not in Icepack, and make sure all of the namelist options are included (bullets).

This one is extremely tedious, and I welcome all the help I can get.  We could divide up the alphabet...  I'll take X!

[2018-01-01 02:06] dabail10 commented on #80
Holy moly. Are you trying to set the gihub issues record for 2017?

[2018-01-01 02:09] eclare108213 commented on #80
Just making sure you all have something to do on Jan 2!   :)
Seriously, we know we're getting close when documentation rises to the top of the priority list.

[2018-01-01 02:13] eclare108213 commented on #80
I've tried to assign all of the issues to at least one person.  Those assignments don't seem to be coming through in the email notices, but you can see them here:
https://github.com/CICE-Consortium/Icepack/issues
There are a few unassigned, looking for a volunteer......

[2018-01-01 23:58] eclare108213 opened #81 "2018"
replace 2017 with 2018 in copyright statements everywhere

[2018-01-02 18:02] njeffery commented on #77
@eclare108213 :   The names are correct in the documentation, but yes, they could be changed in the code.  fed and fep are the ocean source values.  dFe and pFe are used more commonly throughout to refer to ice quantities.  It's probably simplest to change fed to dfe and fep to pfe in the code and documentation.

[2018-01-02 18:09] eclare108213 commented on #77
I didn't realize that ocean and ice location was distinguishing them.  Should we be more explicit about that, e.g. dFei and dFeo?

[2018-01-02 18:47] njeffery commented on #77
The other tracers refer to their ocean values using three lower case letters (eg. nit or sil). So both fed or dfe is consistent if not particularly clear. The more I look at the code, the more I see examples of "Fed_   and Fep_"  refering to related iron quantities in the ice.

[2018-01-02 21:55] eclare108213 commented on #46
@njeffery @chrisknewman
I found the bug preventing exact restarts for both ISPOL and NICE bgc cases:  the sst data was read in but not used.  I am running a test suite now to confirm that this fixes the problem and does not create others.

[2018-01-02 22:17] #70 closed

[2018-01-03 04:04] eclare108213 commented on #64
Here's what I found, reading through the svn and github logs.  Anything else?

- created the column package by refactoring CICE
- added warning package for printing diagnostic and error information from within the column physics
- added vertical biogeochemistry, including particulate iron, humic material, modal aerosols, proteins, stationary and mobile phases
- allow biogeochemistry to feed back o

[2018-01-03 07:32] proteanplanet commented on #65
I can take care of this so that it caters to the high-frequency option as well.

[2018-01-03 08:11] proteanplanet commented on #66
Suggested comment:

The form drag parameterization assumes a fixed ridge shape where both the macroscopic ridge porosity and the angle of repose are specified parameters.  One high-resolution coupled model that uses the CICE Column package has been unable to make this parameterization work in its current form. Development of a new, variational approach for ridging is underway that will generate ri

[2018-01-03 17:58] njeffery commented on #46
Awesome!

Just a heads up. I found the source of a segmentation fault in algal_dyn when using iron.  I'll let you know when I've implemented a fix.

Nicole

________________________________
From: Elizabeth Hunke <notifications@github.com>
Sent: Tuesday, January 2, 2018 2:55:08 PM
To: CICE-Consortium/Icepack
Cc: Jeffery, Nicole; Mention
Subject: Re: [CICE-Consortium/Icepack] bgc exact restart fails

[2018-01-03 22:04] duvivier commented on #63
This looks like an issue with the PDF generation only, the HTML looks okay to me. Does this agree with what you're seeing Elizabeth?

[2018-01-03 23:33] dabail10 commented on #71
I can do this now. Cheyenne has been down for the last week and just came back up. Yellowstone is now officially gone, so we should remove it from the machine definitions.

[2018-01-03 23:46] dabail10 commented on #71
So, the gx1 and gx3 ice_in files in CICE5.1.2 are slightly different. Most of the differences are in setup_nml and tracer_nml. Which ice_in should I follow for icepack_in? Here are the main things:

year_init, npt, kcatbound, tr_FY, tr_pond_lvl versus topo.

Dave

[2018-01-04 01:03] eclare108213 commented on #71
Good question.  gx3 is our main testing configuration but gx1 is more realistic.  Of the parameters you listed, year_init are npt are case dependent, so we choose them based on the forcing we're using.  kcatbound should be the standard choice from gx1.  tr_FY is just diagnostic, and I'd say turn it off for our purposes.  tr_pond_lvl=T is also standard for gx1.  I'm a little more ambivalent about t

[2018-01-04 01:11] eclare108213 commented on #63
No, I think the html shows the same problem.  "Table of Contents:" is the main heading and all of the rest of the doc is in subsections underneath that one.  I think that is coming from the index.rst file, where "Table of Contents:" seems to have a very prominent position.

[2018-01-04 17:47] dabail10 opened #84 "Remove yellowstone from machines."
I will assign myself to this one.

[2018-01-04 20:26] dabail10 commented on #84
I have done this in PR 85.

[2018-01-04 21:55] duvivier opened #87 "Remove documentation branch"
We need to remove the "documentation" branch from the Icepack repository. It looks like it is stale and was last changed in September. My guess is that it was probably added to the CICE-Consortium accidentally during  PR. However, since the documentation is part of the master branch (RST and PDF) or gh-pages (HTML) I think keeping this branch will cause confusion. I think we should remove it.

[2018-01-04 22:17] eclare108213 commented on #87
Done.

[2018-01-04 22:17] #87 closed

[2018-01-04 22:36] duvivier commented on #69
Added in the missing degC math text. Not sure why these ones got deleted, but they're fixed in the most recent RST I'm about to PR.

[2018-01-04 22:36] #69 closed

[2018-01-04 22:39] duvivier commented on #80
I think that I should take the lead on the removal part, even though it's tedious and there are a lot of variables. I'm just afraid dividing it up might result in missing bits and pieces. What thoughts do others have?

[2018-01-04 22:50] eclare108213 commented on #80
I’d be delighted if you want to take it on.  Let me know if you’d like my help.  Thanks!

[2018-01-04 23:08] duvivier commented on #74
Nicole, I'm going to try and reconcile these issues. I will need you to check this over though once I have it more finalized since I'm not familiar with the BGC code, namelist, etc.

[2018-01-05 21:30] njeffery commented on #74
That's great Alice.  Thanks.

I'm working now on committing some code changes to the bgc test cases. Hopefully then I'll have time for the documentation.

Nicole

________________________________
From: Alice DuVivier <notifications@github.com>
Sent: Thursday, January 4, 2018 4:08:22 PM
To: CICE-Consortium/Icepack
Cc: Jeffery, Nicole; Assign
Subject: Re: [CICE-Consortium/Icepack] documentation of b

[2018-01-05 21:37] dabail10 commented on #71
Here are my proposed changes to the icepack_in default:

ice_ic = 'default' (don't we want to start with ice?)
kcatbound = 1
tr_pond_lvl = .true. (This is consistent with the CICE5.1.2 default)
tr_pond_topo = .false. (Leave the remaining tracers off)
bgc_data_dir = 'unknown' (Since we start with the BGC off by default, I think this is better)
precip_units? For the gx1 this is mks, while in Icepack

[2018-01-05 23:24] eclare108213 commented on #71
ice_ic = 'default' (don't we want to start with ice?)
This is a little confusing in the code.  You can set it to literally anything, as long as restart=F.  It's sent into set_state_var but not used, because the initial conditions when not restarting are specified for each grid cell, individually.  Let's remove it from that subroutine call, and I recommend using 'default' as the icepack_in value.

[2018-01-05 23:31] duvivier commented on #74
Nicole, please look over the updated documentation I've created here: https://duvivier.github.io/Icepack/

In particular, I need you to look over Table 8 and make sure zbgc_nml variables are correctly entered. Also, do we still need Table 9 or have these options been included in Table 8 now?

I am aware the units for the zbgc_nml variables in Table 8 are not all formatted properly, but I wanted to

[2018-01-05 23:32] duvivier opened #88 "User's guide"
Find and test instances of "CHECK" notation throughout the documentation (User's guide in particular) and verify we have the information we need for these sections.

[2018-01-06 00:12] njeffery commented on #74
Alice:

Corrections to table 8 under zbgc_nml

1. tr_zero should be tr_zaero

2. in  dEdd_algae description, remove "should not be used when sove_zbgc or skl_bgc are true"

3. in solve_zsal description,  change "therm" to "ktherm"

4. in frazil_scav, change "frail" to "frazil ice"

5. in K_Nit_diatoms, _sp, and _phaeo, and for diatoms, small plankton and phaeocystis, respectively

6. do the same f

[2018-01-06 16:50] eclare108213 commented on #84
PR #85 was merged

[2018-01-06 16:50] #84 closed

[2018-01-08 17:30] dabail10 commented on #71
Actually mks would be m/s while the other is mm/s. Regardless, whatever we decide is the default forcing, then it would correspond to that.

[2018-01-08 18:06] duvivier commented on #74
Nicole, Please double check that I've fixed Table 8 to your liking. I added the changes you list as well as updated the units to be correctly formatted. https://duvivier.github.io/Icepack/icepack_3_user_guide.html#table-of-namelist-inputs

Also, for many of the options in Table 8 there is no "recommended value" (last column). Do you want me to add the values listed here (https://cice-consortium.gi

[2018-01-08 20:12] eclare108213 commented on #71
In CICE, the mks units for precipitation are kg/m/s, which I think works out to mm/s when all the conversion factors are taken into account, and of course assuming a nice round value for density.
e

[2018-01-09 03:25] eclare108213 commented on #46
Fixed with PR #60

[2018-01-09 03:25] #46 closed

[2018-01-09 03:43] duvivier commented on #74
Nicole, based on some changes I made for another issue Elizabeth opened, you'll find the table to look at here instead:
Table 8
https://duvivier.github.io/Icepack/user_guide/ug_case_settings.html#table-of-namelist-inputs

[2018-01-09 03:47] duvivier commented on #63
Elizabeth,
I think I finally got this layout sorted out.
Please check the HTML:
https://duvivier.github.io/Icepack/index.html
And a PDF Generated from the same RST code:
https://github.com/duvivier/Icepack/blob/master/doc/Icepack.pdf
(Note: I will work on the labels of tables and figures next, Issue #67)

[2018-01-09 04:02] eclare108213 commented on #63
That looks great!

Is there a way to control how much of the outline is shown in the left-hand panel of the html?  The individual html pages are now the subsections rather than whole chapters, and it looks like that’s also limiting the outline.  No worries if this is how it needs to be.   I’d rather time be spent on the contents, at this point, than on the layout, now that you’ve gotten the basic

[2018-01-09 16:19] duvivier commented on #63
I noticed that the left-hand panel outline had changed, but I can't figure out at the moment how to make it more extensive. I think we should wait to deal with this until the contents are finalized.

[2018-01-09 17:04] njeffery commented on #74
Hi Alice,

Here's a couple more changes to Table 8, otherwise looks good:

bgc_flux_type  should have two options Jin2006/default  with Jin2006 as suggested.

sil_data_type and nit_data_type have options NICE/ISPOL/clim/default

For recommended values,  using the ones in the bgcISPOL option would be best.

Also, I think Table 9 should remain as is even if some parameters are repeated from Table 8.

[2018-01-09 19:13] dabail10 commented on #57
We have NAG on an NCAR CGD machine.

[2018-01-09 20:15] eclare108213 commented on #57
Thanks Dave.  This might not be a problem in the newer, columnized version of the code, I’d just like someone to run the test suite there (or at least a run with the debugging flags on) to see if this still turns up as a problem.  But as Tony said, it’s a good idea to test with other compilers anyhow.
e

[2018-01-09 21:16] duvivier commented on #63
Being addressed with PR #90 and #91

[2018-01-09 21:16] #63 closed

[2018-01-09 21:16] duvivier commented on #74
Being addressed with PR #90 and #91

[2018-01-09 21:16] #74 closed

[2018-01-15 16:56] eclare108213 opened #96 "2 failing BGC tests"
See PR #89 for details

FAIL pinto_smoke_col_1x1_bgcISPOL_debug run
FAIL pinto_restart_col_1x1_bgcISPOL run-initial

[2018-01-17 17:24] dabail10 commented on #71
This is changed in PR4.

[2018-01-18 22:50] duvivier commented on #81
Fixed with Pull Requests #92 and #95. Grepping through the documentation does not reveal any other places with copyrights of 2017.

[2018-01-18 22:50] #81 closed

[2018-01-18 22:51] duvivier commented on #66
Fixed in pull request #95

[2018-01-18 22:51] #66 closed

[2018-01-18 22:52] duvivier commented on #68
Fixed in pull request #95

[2018-01-18 22:52] #68 closed

[2018-01-18 22:54] duvivier commented on #64
Fixed by pull request #95

[2018-01-18 22:54] #64 closed

[2018-01-18 23:00] duvivier commented on #78
Fixed in PR #92.

[2018-01-18 23:00] #78 closed

[2018-01-18 23:11] duvivier commented on #72
I think this is NOT a typo. Above it in section 2.7.3 it says: "In the case of the skeletal-layer model this is a single layer, while for zbgc there are NBGCLYR+1 vertical layers." And this is consistent with the settings listed below it in the documentation (see here: https://cice-consortium.github.io/Icepack/science_guide/sg_bgc.html#sea-ice-ecosystem)

Nicole, please confirm this. If it is corr

[2018-01-18 23:16] duvivier commented on #76
I agree this is likely a typo and have changed it in the branch that I'm working on for documentation. Nicole, the section is here: https://cice-consortium.github.io/Icepack/science_guide/sg_bgc.html?highlight=default%20value#reaction-equations . Can you please confirm and close the issue and I will take care of the fix and PR?

[2018-01-18 23:18] duvivier commented on #75
Relevant section: https://cice-consortium.github.io/Icepack/science_guide/sg_bgc.html?highlight=mobile%20stationary#mobile-and-stationary

[2018-01-19 02:13] #58 closed

[2018-01-19 16:37] duvivier commented on #73
The section to add these is here:
https://cice-consortium.github.io/Icepack/science_guide/sg_bgc.html?highlight=ispol

Once you provide a description and references here, I can add the references to the namelist page where necessary. https://cice-consortium.github.io/Icepack/user_guide/ug_case_settings.html?highlight=ispol . We also need to modify the table since ice_forcing_bgc.F90 has been renam

[2018-01-19 18:28] duvivier commented on #79
Elizabeth, I've moved this to the testing section of the User's guide and updated it to reflect the info we have on the Wiki. When I do a PR I'll have you review it and we can see if we want to add more info.

[2018-01-19 19:53] duvivier commented on #88
Elizabeth,
I'm searching through the documentation and trying to clean up instances of "CHECK" throughout the documentation. Can you check the following three sections (one instance each) and provide feedback about them?
3.6.4: https://cice-consortium.github.io/Icepack/user_guide/ug_troubleshooting.html --> It looks like part of the sentence about a write utility is missing. Do you know off hand w

[2018-01-19 20:15] eclare108213 commented on #88
This hasn't been written yet.  What's there is a reminder to add information about the new utility that is now included in Icepack, which queries the parameter values and thus can be used to write them out for checking, when debugging.  There is a little documentation here
https://cice-consortium.github.io/Icepack/developer_guide/dg_col_phys.html#the-warning-package
but we could use more in the tr

[2018-01-19 20:17] eclare108213 opened #100 "bgc restart module"
Consider renaming ice_restart_column.F90 to be ice_restart_bgc.F90, and update the documentation in
https://cice-consortium.github.io/Icepack/developer_guide/dg_driver.html
appropriately.

[2018-01-19 20:22] duvivier commented on #65
Andrew, if you have text for this I can go ahead and include it in a documentation clean up I'm working on. Just let me know.

[2018-01-19 21:10] njeffery commented on #72
Yes.  Not a typo

[2018-01-19 21:20] #72 closed

[2018-01-19 21:23] njeffery commented on #75
The correct reference is Section2.3.2 equation 2

[2018-01-19 21:25] njeffery commented on #76
Not a typo.  Any large number of days will do.

[2018-01-19 21:47] duvivier commented on #76
Got it, thanks!

[2018-01-20 01:29] eclare108213 opened #101 "diagnostic files"
When an Icepack run finishes and the icepack.runlog.* file is copied back into the case/logs directory, please also copy the diagnostic output files, ice_diag.*

[2018-01-20 02:31] eclare108213 commented on #96
I think both of these tests are failing because there are 366 days of data for 2004 (a leap year) but days_per_year=365 in namelist.  This is causing the interpolation coefficients to be wrong (negative) around Jan 1, and therefore the forcing data (especially radiation) is wrong for the first timestep of 2005.  I'm not sure whether to set days_per_year=366 or to just use 365 days of data from the

[2018-01-20 02:40] eclare108213 commented on #96
The N-ICE data file also has 366 days of data, but 2015 was not a leap year, so I'm unsure what is intended here.  Logically, it makes sense to use 366 days for 2004, since we have it, and 365 days for the N-ICE data, ignoring day 366.  I'll change the code to do that.

[2018-01-20 04:50] eclare108213 commented on #96
It turns out that setting days_per_year=366 is not an option, only 360 and 365 are available.  We need to test for that and either warn or abort.  If possible, it would be nice to test the leap year capability in the code using all 366 days of data (i.e. set use_leap_years=true), for the ISPOL case, if it makes sense.  @njeffery please weigh in on what the 366 days represent in ISPOL and NICE.  PR

[2018-01-21 19:03] eclare108213 opened #103 "zqsn inout"
zqsn should be intent(inout) in icepack_therm_vertical.F90, subroutine init_vertical_profile

[2018-01-22 16:01] dabail10 commented on #103
Is this true in CICE5.1.2 as well? All that happens here is that zqsn is set to trcrn(:,:,nt_qsno,:,:). I guess Icepack does not have trcrn?

Dave

[2018-01-22 16:25] eclare108213 commented on #103
It appears to be fine in v5.1.2.  In Icepack (and now CICE), depending on how the conditional is evaluated, zqsn might be used before it is defined in the subroutine.
e

[2018-01-23 04:34] duvivier opened #105 "BGC output"
Please check that the documentation about BGC output in CICE is correct in the Icepack documentation:
https://cice-consortium.github.io/Icepack/user_guide/ug_implementation.html#biogeochemistry-history-fields

[2018-01-23 13:56] eclare108213 commented on #105
I suggest you remove the word "Note" at the beginning and this part of the text:

[2018-01-23 16:03] duvivier commented on #75
Addressed by PR #104

[2018-01-23 16:08] duvivier commented on #76
Fixed with PR #104

[2018-01-23 16:09] duvivier commented on #79
Fixed with PR #104

[2018-01-23 16:09] duvivier commented on #88
Fixed with PR #104

[2018-01-23 16:10] duvivier commented on #105
Fixed with PR #104

[2018-01-23 18:18] #75 closed

[2018-01-23 18:18] #76 closed

[2018-01-23 18:18] #88 closed

[2018-01-23 18:18] #105 closed

[2018-01-23 19:30] eclare108213 commented on #79
We need more detailed information in the docs.  I'm thinking that for each of our forcing options in Icepack (default, clim, cfs, ispol, nice) we need to include the data source and characteristics such as how frequent it is, which variables are included, known biases (if we know them), assumptions, and references to papers associated with the data, where users could go for more info.  Some of thi

[2018-01-26 18:12] mattdturner opened #108 "Makefile conditionals within targets"
The new makefile, after adding CCE, GNU, and PGI compilers includes a conditional within some of the targets
[code]
This is because the CCE and PGI compilers output a .i file when running through the preprocessor.  There is likely a way with each compiler to alter the output file extension so that this branch is not required.

[2018-01-29 16:59] duvivier commented on #80
Done with PR #106

[2018-01-29 16:59] #80 closed

[2018-01-29 20:48] eclare108213 opened #110 "combine constants and parameters"
Move contents of icepack_constants.F90 into icepack_parameters.F90.
Move all default settings for icepack parameters into icepack_parameters.F90.
(note that there are some driver-specific namelist settings that should remain only in icedrv*)
Check that icedrv queries icepack to get the default values, then reads namelist and updates those parameters, then (re)sets icepack's values.
Check query/ini

[2018-01-31 22:28] apcraig commented on #57
I've got two compiler warnings that someone should look at from the current code.  I have looked and these look like bugs.  If I knew what to do, I'd fix them.

configuration/driver/icedrv_restart_column.F90:

      call icepack_init_tracer_indices( &
ftn-7212 crayftn: WARNING INIT_ZBGC, File = ../../../../../home/apcraig/cice-consortium/icepack.machcomp/configuration/driver/icedrv_init_column.F90

[2018-01-31 23:04] apcraig commented on #108
This is fixed in PR#113.  Got rid of the separate preprocessing step, now preprocesing as part of compilation.

[2018-02-03 01:17] #108 closed

[2018-02-03 01:23] apcraig opened #115 "Version hardcoded in Documentation"
In section 1.3, file doc/source/intro/major_updates.rst.  Maybe we can just refactor a bit and call the section something like "separation of Icepack from CICE" and say this happened after CICE5 without specifying any specific versions?

Or is this really going to be an ongoing "ChangeLog" that will provide an overview of changes since the start of Icepack?   If so, maybe that belongs in an append

[2018-02-03 01:31] apcraig commented on #115
For instance, appendix B here, http://www.cerfacs.fr/oa4web/oasis3-mct_3.0/oasis3mct_UserGuide.pdf keeps track of changes from the start, but does not break it out by each version.  That's one example.  Another would be to actually track changes with each revision which I think is more common and probably something we should consider.  See, for instance, https://www.mozilla.org/en-US/firefox/relea

[2018-02-03 01:33] eclare108213 commented on #115
Good point.  I would like this section to give and overview of what we did and why, to create Icepack.  Let's put the details in the release notes pages next to the tarballs, as releases come out (see https://github.com/CICE-Consortium/CICE-svn-trunk/releases).

[2018-02-03 01:35] eclare108213 commented on #115
Maybe we can keep a running log of important changes somewhere, since the last numbered release?

[2018-02-03 23:23] eclare108213 commented on #110
Addressed in PR #109 #111 #112 #116
We still need to check the query/init implementation for tracers.

[2018-02-03 23:33] eclare108213 commented on #48
Unfortunately this problem only shows up with some compilers, and I'm not seeing it so can't debug it.  Hints for fixing it:

The issue occurs in this line, in icepack_mechred.F90:

Gsum(ncat) should never be zero, so there is a problem somewhere else, maybe in a halo cell?  The quick fix is to wrap this statement with "if (Gsum(ncat) > puny) then ... endif"  but that does not fix the source of th

[2018-02-04 01:01] eclare108213 opened #118 "exponential underflows in dEdd shortwave"
Some compilers are complaining about underflows in the shortwave calculation.  These are coming from exponentials with very small arguments.  The current code to get rid of those values does not avoid their being calculated in the first place:

We should do this instead:

This type of calculation occurs in 3 places in icepack_shortwave.F90.
I expect this to change the answers (nonBFB).

[2018-02-04 13:24] eclare108213 opened #120 "unused variables"
Please would someone using a gnu or nag compiler produce a list of warnings with their module/line locations?   The priority here is getting unused variables out of the columnphysics interface subroutine argument lists, so I'm most interested in the "Unused" warnings from the list below.  But it would be good to capture all of them, to clean up at some point.

**GNU Warnings**
Unused variable
Crea

[2018-02-04 13:51] eclare108213 commented on #71
Fixed in PR #98

[2018-02-04 13:51] #71 closed

[2018-02-04 20:10] apcraig commented on #120
The gnu compiler is not generating any warning messages on gordon on my current args branch.  We should try nag.

[2018-02-05 04:24] apcraig commented on #118
I will take this on as one of my next tasks, after a couple other tasks....

[2018-02-05 13:54] MichaelWinton commented on #79
I tried to address this for the climatological forcing in the driver design document ( https://docs.google.com/document/d/1FQISNl-d3YUjZO7XmKVKANguH2FnT9wuB3IEQqdB7ls/edit#heading=h.rqw060ar17rm ).  Was this not what was wanted?

[2018-02-05 16:07] eclare108213 commented on #79
@MichaelWinton I'm sorry for not being clear.  What you've added to the google doc is perfect:  I'm looking for is a short paragraph, maybe just a few sentences, with content and style as you would use in a journal publication to describe data being used.  The paragraph needs to be put into the primary documentation, https://cice-consortium.github.io/Icepack.
@duvivier I'm having trouble figuring

[2018-02-05 17:48] eclare108213 opened #123 "Icepack output"
Check the Icepack output for various cases to make sure it is what we expect

[2018-02-05 17:51] dabail10 commented on #120
I have the code compiling with NAG now. Lots of warning messages! In pretty much every file there are "use icepack_warnings" that are not actually used. Also, the "subname" variable is set nearly everywhere and hardly used. Are you fine with me removing all of these?

[2018-02-05 17:58] apcraig commented on #120
I think we want subname in every subroutine.  That was a huge effort to do.  It's nice that it's done and will be handy as we move forward.  I would say the same about use warnings.  I don't think it hurts that it's in every module, but am fine if we want to remove those from modules where it's not being used.  But please don't remove the subnames.

[2018-02-05 18:00] eclare108213 commented on #120
I agree.  Let's keep the subnames for future use, as needed.  Can you identify just variables that are passed through subroutine calls, for now?

[2018-02-05 18:11] dabail10 commented on #120
Here is all of warnings that are not "subname" or icepack_warning. There are a lot here. I am happy to work on this, but I will need guidance on a few.

[unused.txt](https://github.com/CICE-Consortium/Icepack/files/1696243/unused.txt)

[2018-02-05 18:17] mattdturner commented on #101
This issue can now be closed

[2018-02-05 18:22] eclare108213 commented on #101
Thank you!

[2018-02-05 18:22] #101 closed

[2018-02-05 19:06] apcraig commented on #48
I've implemented this on a branch and am testing.  PR soon.

[2018-02-05 19:06] apcraig commented on #118
I've implemented this on a branch and am testing, PR soon.

[2018-02-05 21:51] apcraig opened #125 "Abort with invalid cdn_atm_ratio_n"
The code aborts in merge_fluxes for sets=debug,dyn with gnu.  In that case, atmbndy="constant" and cdn_atm_ratio_n is never set but it is used.

The calling sequence is something like

icepack_therm_vertical.F90, icepack_step_therm1 defines cdn_atm_ratio_n locally
icepack_step_therm1 calls icepack_atm_boundary with cdn_atm_ratio_n as argument
icepack_atm_boundary sets cdn_atm_ratio_n when atmbndy

[2018-02-05 21:56] apcraig opened #126 "icepack_algae underflow"
icepack_algae is underflowing in the second part of this line with gnu compiler and debug+bgcISPOL.

               dmobile(k) = mobile(mm)*(initcons_mobile(k)*(exp(-dt*rtau_ret( mm))-c1) + &
                                 initcons_stationary(k)*(c1-exp(-dt*rtau_rel(mm))))

If anyone has any ideas, I'm happy to implement and test.

[2018-02-05 22:51] eclare108213 commented on #120
Wow, there are lots.  I think you could just start down the list, deleting.  You might prioritize "dummy" over "local" if indeed dummy means subroutine argument.  I'm guessing that "explicitly imported" means in a use statement.  Those and unused locals can be cleaned up later.  Do loops are likely of the form do n=1,0 where the 0 is because of an inactive tracer; these need to be wrapped in the a

[2018-02-05 22:59] eclare108213 commented on #115
A running log has been added at
https://github.com/CICE-Consortium/Icepack/wiki/Recent-changes

[2018-02-05 22:59] #115 closed

[2018-02-05 23:55] eclare108213 commented on #125
Please initialize Cdn_atm_ratio_n = c1 in icepack_atm_boundary.
Cdn_atm can be removed from atm_boundary_const.
Thx

[2018-02-06 00:27] eclare108213 commented on #126
This needs to be recoded.  Either rtau_ret or rtau_rel will always be zero, and so one of the exp() will always underflow.  It would be better to put the calculation of the exp in the conditional block above this, where rtau_ret and rtau_rel are computed, and then just use the values here.

[2018-02-06 00:40] apcraig commented on #126
I understand what you're getting at.  When those values are zero, I assume the exp should be treated as zero?

So if rtau_ret is zero,
               dmobile(k) = mobile(mm)*( &
                                 initcons_mobile(k)*(-c1) + &
                                 initcons_stationary(k)*(c1-exp(-dt*rtau_rel(mm))))
and if rtau_rel is zero,
               dmobile(k) = mobile(mm)*( &

[2018-02-06 01:14] eclare108213 commented on #118
Fixed in PR #127

[2018-02-06 01:14] #118 closed

[2018-02-06 01:17] eclare108213 commented on #48
PR #127 provides a work-around, but there is still an underlying bug.  Gsum should never be zero.  I am leaving this issue open for now, to return to later when more pressing issues have been addressed.

[2018-02-06 01:43] eclare108213 commented on #57
Fixed in PR #119

[2018-02-06 01:43] #57 closed

[2018-02-06 01:48] eclare108213 commented on #103
this one probably will change the answers

[2018-02-06 02:29] apcraig opened #128 "icepack.setup checks"
Add a check that --report is only available with --suite.

[2018-02-06 02:38] apcraig commented on #126
OK.  There is another issue.  I have found another case where rtau_ret is 1.0 and ts = 3600.  The exp is under-flowing in that condition and then we'd be left with a "0" with the "exp" value so exp-1 or 1-exp would just be 1 or -1.  Mostly, rtau_ret and rtau_rel are about 1e-4 which matches up OK with ts=3600.  I need a little more help here about what to do.

There seem to be cases where rtau_* i

[2018-02-06 04:27] apcraig opened #129 "ice_brine exception"
Hitting another error with bgc in ice_brine.F90,

  write(99,*) subname,' tcx3',-darcy_coeff, (-darcy_coeff/bphi_min*dt)
  call flush(99)
               hbrocn_new = hbrocn*exp(-darcy_coeff/bphi_min*dt)

The exp is blowing up with gnu and debug flags.  The last two values before blowup are

 (update_hbrine) tcx3  -1.1392520136377392E-009  -2.3407096177064297E-003
 (update_hbrine) tcx3 -0.561999915

[2018-02-06 06:52] eclare108213 commented on #126
Since rtau_ret and rtau_rel are both frequencies in units of 1/s, I don't think they should ever be negative.  They are both initialized to 1 in icedrv_init_column.F90, but they should not stay that way unless bgc_tracer_type < 0.  The code comments indicate that this is actually the default condition, so this will always produce underflows in the exponential.  Now I am beginning to understand thi

[2018-02-06 18:17] apcraig commented on #126
So, I sort of did the same thing yesterday, following the argmax of some other implementations, but I think what you propose is better.  Is the tau_ret>c1 the right logic? was c1 chosen because it was the default value?  the default should be a negative number, say -99 so it can be flagged more clearly.  And then that logic should be >c0.  but it looks like the default is set outside the columnphy

[2018-02-06 18:30] apcraig commented on #125
If Cdn_atm is remove from atm_boundary_const, does it need to be set to 1.0 by default in icepack_atm_boundary with Cdn_atm_ratio_n or will it be set outside in cases where atmbndy=constant?

[2018-02-06 21:01] dabail10 opened #130 "cannot find entry symbol _start"
NAG is giving this message because there is no "program main" anywhere. Do we want this?

[2018-02-06 21:04] njeffery commented on #129
@apcraig   Which test are you running?

[2018-02-06 21:05] dabail10 opened #131 "Call to remap_zbc"
This looks like a bug, but @njeffery can confirm this is the expected behaviour. So, the call to remap_bgc normally has ntrcr as the first argument. However, it is not actually used in that subroutine. The next two arguments are nlyrn (number of ice layers) and it (tracer index in top layer).

            elseif (scale_bgc .and. ktherm == 2) then
               trtmp(:) = c0
               do n =

[2018-02-06 21:21] njeffery commented on #129
@apcraig:  I've looked a bit closer at the code.  There is nothing physically wrong the exp(-3597).  The solution hbrocn_new = 0 is valid.  Go ahead and add an if  "darcy_coeff/bphi_min*dt" is larger than numerically feasible,  hbrocn_new = 0.

[2018-02-06 21:33] njeffery commented on #131
The first argument is a carry-over from when the size of the remapped tracers was needed in the declaration of the subroutine.  So,  it's no longer needed and can be removed. I know the call appears in icepack_zbgc.F90 but potentially other subroutines like icepack_algae.F90.

________________________________
From: dabail10 <notifications@github.com>
Sent: Tuesday, February 6, 2018 2:06:00 PM
To:

[2018-02-06 21:36] dabail10 commented on #131
I'm more concerned about this particular instance of the call to remap_zbgc. Normally it is called with ntrcr, nilyr, and then a tracer number like nt_sice. Here it is called with nilyr, nilyr, and 1.

Dave

[2018-02-06 21:37] duvivier commented on #79
Yes, I can add things into main doc and update html. I got Rick's info already and will work on adding Mike's.

[2018-02-06 21:47] eclare108213 commented on #130
I don't think we care about this one.    Do we?
Would it be fixed by changing the program name (in icedrv_MAIN.F90) to 'main'?  That's easy enough, and I'm not totally wed to 'program icedrv'.

[2018-02-06 21:48] apcraig commented on #103
Fixed in PR #132

[2018-02-06 21:52] apcraig commented on #130
I think this is a bit too much.  I'm fine if we want to change it, but I don't think we should.

I have not worked with NAG before.  Is our goal to get rid of all warnings?  If so, we should do it.  If not, then I think we should focus on the important ones first.

[2018-02-06 21:52] dabail10 opened #133 "Bug in mushy layer?"
I noticed calls like this in two_stage_solver_snow and two_stage_solver_nosnow. In the subroutine for these, it has the arguments of Tsf0, zqsn0, zqin0, zSin0, zTsn0, and zTin0.

Then just before the call to the picard solver you have:

       if (fcondtop - fsurfn < ferrmax) then

          ! solution is consistent - have solution so finish
          return

       else

          ! solution is i

[2018-02-06 21:54] dabail10 commented on #130
I agree, I was just curious. I can easily change it to "main" though. I'm working my way through the NAG warnings and trying to focus on the dummy arguments in subroutines or unused locals. However, I just thought I should bring this one up.

Dave

[2018-02-06 21:55] eclare108213 commented on #130
And I'm fine with that too.  Keep icedrv

[2018-02-06 22:12] duvivier commented on #79
Question: I think we'd decided to move the forcing info to section 3.3 (Testing) instead of 3.2 (running) in the user's guide. However, we hadn't updated the html for that change yet. Given that we're going to have the forcing info for all the options, do you think it makes sense to keep it at 3.2 instead of 3.3?
https://cice-consortium.github.io/Icepack/user_guide/ug_running.html#forcing-data

[2018-02-06 22:22] eclare108213 commented on #133
I don't understand what is unused, where?  zTin and zTsn are output from the thermodynamic calculation, so they don't need to be reset -- their values would get overwritten anyhow.

[2018-02-06 22:30] eclare108213 commented on #79
I think it makes more sense in section 3.2, running Icepack, rather than testing.  The testing section seems to be more about the scripts specific to setting up tests, while 'running' is more about getting the broader run environment configured.

[2018-02-06 22:32] duvivier commented on #79
Agreed, I will move it there.

Also, the Google Doc has SHEBA as an option. But as of right now we don't have that as a namelist option at the moment. Should it be included? Does someone still need to fill this in?

https://docs.google.com/document/d/1FQISNl-d3YUjZO7XmKVKANguH2FnT9wuB3IEQqdB7ls/edit#

[2018-02-06 22:47] eclare108213 commented on #79
Ask @dabail10 ;)

[2018-02-06 22:50] duvivier commented on #79
Ok. :)  I know he was working on the ridging dataset from SHEBA.

[2018-02-06 22:56] dabail10 commented on #79
Right. There will be an ocn_data_type = "SHEBA" for this. Long term we might have an atm_data_type as well.

[2018-02-06 23:04] dabail10 commented on #133
So, sorry I wasn't clear. The two subroutines two_stage_solver_snow and nosnow receive 12 inputs which are Tsf, Tsf0, zqsn, zqsn0, zqin, zqin0, zSin, zSin0, zTsn, zTsn0, zTin and zTin0. Just before the call to the picard_solver, some of these are reset to the "initial" value with the 0. However, in some cases they are not reset to the "0" value and hence are never used in the subroutines. So in tw

[2018-02-06 23:07] dabail10 commented on #131
Ok. Sounds good. I am removing the first argument, ntrcr to all of the calls to remap_bgc.

[2018-02-06 23:07] #131 closed

[2018-02-07 08:07] proteanplanet commented on #65
This item is complete to my satisfaction in the documentation and is awaiting as a pull request for Icepack.

[2018-02-07 14:03] #130 closed

[2018-02-07 20:39] dabail10 opened #136 "Bug in icepack_atmo.F90"
In the following code in icepack_atm_boundary:

      worku = c0
      workv = c0
      workr = c0
      if (present(uvel)) then
         worku = uvel
      endif
      if (present(uvel)) then
         worku = uvel
      endif

The second if block should be:

      if (present(vvel)) then
         workv = vvel
      endif

I have a fix coming with the next commit.

[2018-02-07 21:57] dabail10 opened #138 "bug in icedrv_init_column.F90"

[2018-02-07 21:57] duvivier commented on #65
Completed with PR #135

[2018-02-07 21:58] #65 closed

[2018-02-07 23:01] duvivier commented on #73
Nicole, I've added in a bunch of info from you about NICE and ISPOL. A few clarifications are required. In section https://cice-consortium.github.io/Icepack/science_guide/sg_bgc.html?highlight=sil_data_type#sea-ice-ecosystem of the documentation there are listed namelist options sil_data_type and nit_data_type. These were not part of the bgc namelist you provided and I have put up in section https

[2018-02-08 00:15] njeffery commented on #73
Hi Alice,

Yes, both sil_data_type and nit_data_type have been changed to bgc_data_type.   NICE and ISPOL are possible options and for atm_data_type/ocn_data_type.

nicole

________________________________
From: Alice DuVivier <notifications@github.com>
Sent: Wednesday, February 7, 2018 4:01:59 PM
To: CICE-Consortium/Icepack
Cc: Jeffery, Nicole; Assign
Subject: Re: [CICE-Consortium/Icepack] BGC fo

[2018-02-08 04:12] eclare108213 commented on #73
@njeffery The documentation indicates that the N-ICE ocean forcing is POP output.  Should we call it 'POP' instead of 'NICE', so that it doesn't seem like it's actually measured data?  Is ISPOL ocean data measurements from Ice Station Polarstern or is it also model output?

[2018-02-08 04:16] eclare108213 commented on #79
This seems to be mostly done except including a note in the forcing documentation that we also have different seasons (set as a namelist option) for the default values set in the code.
Is anything else still missing on this topic?

[2018-02-08 04:25] duvivier commented on #79
The SHEBA info isn't done.

[2018-02-08 04:30] eclare108213 commented on #136
good catch!
@proteanplanet this one might affect your RASM runs?

[2018-02-08 04:31] duvivier commented on #110
References to icepack_constants.F90 taken out of documentation with PR #139

[2018-02-08 04:32] eclare108213 commented on #138
Yes.  This is why we need lots of eyes looking at the code.

[2018-02-08 04:39] proteanplanet commented on #136
Might just be...

[2018-02-08 04:49] duvivier opened #141 "PDF"
Make a PDF of the documentation before the final Icepack release and add it to the master branch *before* the code is tagged as a release.

[2018-02-08 05:34] proteanplanet commented on #136
Testing in RASM is underway...

[2018-02-08 17:24] #100 closed

[2018-02-08 17:24] #103 closed

[2018-02-08 17:25] #125 closed

[2018-02-08 17:29] eclare108213 commented on #126
@njeffery We've merged this change but I'd still appreciate it if you'd check the logic in ice_algae.F90 (as above) to make sure it's doing what you intend.  Thx!

[2018-02-08 18:32] apcraig commented on #129
I have implemented an underflow fix that is commented out in PR #126 and will change answers.  That fix needs some review.  At the present time, this is still causing some cases to underflow when testing with the debug flags.  But the science should be ok with the underflow as we underflow to zero by design.

[2018-02-08 20:42] duvivier commented on #73
I have fixed the namelist options with PR #144. I did not change the ocn_data_type to POP but did add a link to the description of the forcing where we clarify that for NICE the ocean data is from a model.

I did not add anything yet about ISPOL data being measurements or model data. This will need to be added when @njeffery gets back to us.

[2018-02-08 22:48] dabail10 commented on #79
I updated the SHEBA forcing information in the documentation and added something about default_season. I just issued PR #146 with this in it.

[2018-02-09 03:43] apcraig opened #147 "clean up icepack output on multi-pe runs in cice"

[2018-02-09 17:37] rallard77 commented on #79
We should add a description in the atmospheric forcing documentation about the "default" case which can be used with the "spring", "summer", and "winter" options.

[2018-02-09 18:30] njeffery commented on #73
Both ispol and Nice ocean data are from a pop run. This does not include nutrients which are climatology observations from WOA.
n

________________________________
From: Alice DuVivier <notifications@github.com>
Sent: Thursday, February 8, 2018 1:42:15 PM
To: CICE-Consortium/Icepack
Cc: Jeffery, Nicole; Mention
Subject: Re: [CICE-Consortium/Icepack] BGC forcing (#73)

I have fixed the namelist opt

[2018-02-09 18:37] duvivier commented on #73
Ok. Just to clarify: do ISPOL and NICE use the same POP run? Do we have documentation or a link to that data? I can add this information to the documentation. Thanks.

[2018-02-09 22:17] dabail10 opened #148 "Convergence code warning"
The convergence code that reads in the Lindsay SHEBA opening/closing data is working and interpolating the data correctly. However, the simulations with this code have some odd behaviour that we have not figured out yet. So, use this code with caution. We would love for the Icepack users to help us out with this!

[2018-02-10 00:16] eclare108213 commented on #73
Alice, I suspect that the pop data was pulled from the pop ocean forcing file that we use with the gx1 configuration of stand-alone cice.  It's on the ftp site and @dabail10 created it!  :)  I think you can say something vague, or even just point to that file.  Here's how I've described it in previous publications:

@njeffery please confirm (and tell us which grid points?), but for now let's assum

[2018-02-10 00:35] eclare108213 commented on #123
@rallard77 has run a bunch of tests for various forcing (all otherwise from the default configuration, I think):  atm_data_type = CFS, clim, and default with both winter and summer conditions.

[icepack_Testing_swccsm3.pptx](https://github.com/CICE-Consortium/Icepack/files/1712812/icepack_Testing_swccsm3.pptx)

Thanks Rick!

We still need someone (or some people) to go through all of the base_suit

[2018-02-10 01:22] eclare108213 commented on #129
@apcraig I think you should go ahead and fix this in Icepack, and then check it in CICE using the quality control test.  There is another exp() immediately below the one you fixed and commented out, which could be causing the other underflows.  I think what you're doing is correct.
As you're doing this, please record all the steps you took to make the change in icepack and then do the regular and

[2018-02-10 01:24] apcraig commented on #129
Will do.  I haven't done the QC tests before.  Is there documentation or scripts?  thanks.

[2018-02-10 01:26] eclare108213 commented on #126
Regarding this question:

e-10 is a value that was (I think) chosen by Bruce Briegleb when he was implementing the delta-Eddington radiation.  I'm not sure why he chose that value, but my impression was that it was as big as he was comfortable with given the data that he and Bonnie had to build the radiation scheme.  So it's specific to the radiation.  In my opinion, we could increase the maximum

[2018-02-10 01:29] eclare108213 commented on #129
I think @mattdturner put it into the testing scripts for cice.  Maybe -qc.  I ran it but didn't get as far as plotting the output.  It is documented in the sphinx (cice) testing section, I believe.

[2018-02-10 01:36] eclare108213 commented on #133
Adrian has not responded.  I think it is correct as written, and the unused variables can be removed.  We have a record of it here if the issue comes up again.

[2018-02-10 01:36] #133 closed

[2018-02-10 15:43] eclare108213 commented on #49
Implemented in PR #146
Thanks to @dabail10 @whlipscomb and Marika!

[2018-02-10 15:43] #49 closed

[2018-02-10 15:54] eclare108213 commented on #148
Runs using the ‘clim’ forcing type without the convergence data all have a jump in ice area close to Oct 1.  This is when the air temperature suddenly gets a lot colder, and the shortwave is also decreasing precipitously then. The new ice is thin so the average ice thickness decreases at the same time.  There’s a big bump in congelation ice at abut the same time, presumably freezing onto the botto

[2018-02-10 15:59] eclare108213 opened #149 "Sensible heat"
In default runs without the SHEBA convergence data, the sensible heat shows small oscillations that need to be investigated.  Is this a problem with the thermodynamics solver?
![ice_diag full_itd_sensible_heat_flx](https://user-images.githubusercontent.com/8173983/36063920-708bbf34-0e40-11e8-9d5a-8e5acae2c2a0.png)

[2018-02-10 16:11] eclare108213 opened #150 "timeseries fonts for plots"
The timeseries.csh script generates this error when making plots on pinto, resulting in tiny fonts.  Can this be fixed?

     Could not find/open font when opening font "arial", using internal non-scalable font

[2018-02-10 16:23] eclare108213 commented on #96
The latest test results indicate that the bgcISPOL restart test is only failing on conrad with the intel compiler.  We here at LANL cannot debug this.  Who can?

[2018-02-10 16:24] eclare108213 commented on #123
I have looked through output from all of the tests.  No show-stoppers.

[2018-02-10 16:24] #123 closed

[2018-02-10 16:32] eclare108213 opened #151 "bgcISPOL dates"
The time of the timestep and the forcing time are not correct in the bgcISPOL runs.  It initializes to the correct date but the dates then revert to Jan 1.  The forcing seems to be for the right time, though, because the fall freeze-up happens in the spring.  I think this is just an initialization problem.

[2018-02-10 16:53] eclare108213 opened #152 "Finalize release code"
- [x] Complete [tasks for release](https://github.com/CICE-Consortium/Icepack/projects/1)
- [x] Run an Icepack test suite on a machine to verify changes and post results
- [x] Run a CICE test suite on a machine to verify changes and post results

[This one is not needed for Icepack, but listing it for future reference]
- [x]  Update release (main) number for netcdf history output, .e.g.

[2018-02-10 17:01] eclare108213 opened #153 "Finalize release documentation"
- [x] Update doc/source/conf.py version/release
- [x] Generate and post html and pdf documentation
    Update pdf document to be carried with code
- [x] Create release notes
- [x] Commit and push final changes to master including, at least,
   doc/source/conf.py
   columnphysics/version.txt
   updated pdf
-  [Tag release]
- [x] Move release notes from https://github.com/CICE-Consortium/Icepack/wik

[2018-02-10 17:04] eclare108213 opened #154 "Finalize release"
- [x] Create release branch in repository if needed
Naming convention is Icepackm.n or CICEm.n
- [x] Generate test results and post to wiki
Use --bgen with the full release name
Create release specific tables on wiki??
- [x] Git Tag the release
Naming convention is Icepackm.n.p or CICEm.n.p
- [Complete documentation]
- [x] Send out release email 

[2018-02-10 17:14] eclare108213 commented on #141
This is now included in issue #153

[2018-02-10 17:14] #141 closed

[2018-02-10 17:18] eclare108213 opened #155 "set ocn_data_type to SHEBA for default configuration"
Set the default configuration so that the ridging code always runs by setting ocn_data_type='SHEBA'.  Remove the -s SHEBA option and add ocn_data_type='default' to one of the others, maybe alt0.

[2018-02-10 20:15] eclare108213 opened #156 ""functional release""
Define the Icepack v1 release as a “functional release” — it runs, doesn't crash the model, passes various tests, and requires further work to establish its scientific validity.   In general, we do not encourage users to use any of the Consortium's model configurations for “science” — our test configurations are okay for model development.   Sea ice models to be evaluated from a physical standpoin

[2018-02-11 22:03] #147 closed

[2018-02-11 22:04] #128 closed

[2018-02-11 22:54] eclare108213 commented on #155
Also,
set tr_lvl=true in icepack_in and false in set_nml.alt01

This should fix warnings in the main output file, e.g.

This will change the answers for some of the tests.

[2018-02-12 02:11] #151 closed

[2018-02-12 02:16] eclare108213 commented on #73
@njeffery Nicole, in addition to the question above, please answer this question:  Do the ISPOL and NICE ocean data sets also start on June 16 and April 24, respectively, as do the atmo data sets?  If so, this still needs to be fixed in the code.  (PR #151 fixed the atmo data)

[2018-02-12 04:26] duvivier commented on #73
Nicole had said the simulation was run in Jan. 2015, so I didn't add the part about Collins 2006, but otherwise included the info for NICE and ISPOL.

[2018-02-12 04:43] duvivier commented on #156
I just defined this in the wiki under the release information and have added it to the sphinx documentation.

[2018-02-12 04:43] #156 closed

[2018-02-12 05:09] duvivier commented on #153
I updated conf.py with PR #161. I also pushed the HTML with PR #162 . There *may* be changes to the HTML still, though I don't know what they might be. Please let me know if I should go ahead and make the PDF and do a PR for that. As soon as that's done we can check off the second item and make progress on the fourth.

I also tested the wiki and README.md pages to make sure all the links work. The

[2018-02-12 05:37] duvivier commented on #153
I just added the PDF corresponding to the code and changes for PR #161 and #162. We can modify it if further changes become necessary, but I think we are close.

[2018-02-12 18:49] mattdturner commented on #150
https://github.com/CICE-Consortium/Icepack/pull/164 attempts to resolve this.  The script now looks at the available fonts on the server, and will choose an Arial, Times, or Courier font (I can add additional fonts to the list if necessary, but all servers I have access to have one of those 3 available).

[2018-02-12 22:43] apcraig opened #167 "Fix mechred arithmetic abort"
see #163

[2018-02-12 22:48] apcraig commented on #129
fixed with PR #158

[2018-02-12 22:49] #129 closed

[2018-02-12 22:57] eclare108213 commented on #167
Try uncommenting lines 563, 564 in icedrv_step.F90.  I never understood why we _didn't_ get errors with this commented out.  Then I forgot about it.

[2018-02-12 23:13] apcraig commented on #167
As an aside, there are lots of these messages written to the log file.  Can we modify that or turn it off?

  (ridge_ice)Repeat ridging, niter =           1

The logic is in subroutine ridge_ice,

         if (iterate_ridging) then
            write(warnstr,*) subname, 'Repeat ridging, niter =', niter
            call icepack_warnings_add(warnstr)
         else
            exit rdg_iteration

[2018-02-12 23:19] eclare108213 commented on #167
Please do.  It shouldn’t be writing unless niter is bigger than 1.
e

[2018-02-12 23:24] apcraig commented on #167
Just looking at the code, it must be iterating twice and writes that on the first iteration to log that it's going to a second iteration.  It does not write when it has converged.  Not sure if that is expected.  Do you want any of that information to the log file?  If so, what could be different?

[2018-02-12 23:50] eclare108213 commented on #167
Unless it's a problem for space or computing time on travis, let's leave the 'Repeat ridging' warning alone for now.  In my gx1 run, in only appears a few times.  We could change it so that it only writes if niter > 1; that rarely happens unless there's a serious problem and the code crashes.  The opening/closing data set is probably stressing the code a bit (which is good), and it's also not cons

[2018-02-12 23:55] apcraig commented on #167
@eclare108213 I'm happy with that approach.

[2018-02-13 00:03] apcraig opened #170 "revisit underflow trapping approach and exp_argmax values"
Currently, the underflow trapping is not entirely consistent, which maybe is fine.  But it was done somewhat adhoc.  Review and modify if appropriate.  For instance, maybe we should compute ln(tiny) to define the exp_argmax instead of choosing it arbitrarily.  Or maybe exp_argmax should be more uniform across the code.  Or maybe there are other approaches.

[2018-02-13 00:04] eclare108213 opened #171 "handle underflows more consistently"
The way we handle underflows is not consistent throughout the code. We should revisit that. In particular, the exp_argmax value varies across the code.

[2018-02-13 00:04] #171 closed

[2018-02-13 00:05] apcraig commented on #171
#170 got there first :)

[2018-02-13 00:35] eclare108213 commented on #73
I'd still like to clarify this information, but we can update the docs later if needed.  I'll take this issue off of the project list.

[2018-02-13 00:38] eclare108213 commented on #155
See PR #163

[2018-02-13 00:38] #155 closed

[2018-02-13 00:41] eclare108213 commented on #150
See PR #164
The font issue was not fixed, but the grid cell info was added to the title.  I'll leave this as an active issue to be addressed later but remove it from the project list for release.

[2018-02-13 00:44] eclare108213 commented on #96
ISPOL and NICE tests are now running.

[2018-02-13 00:44] #96 closed

[2018-02-13 01:23] apcraig opened #172 "update cori modules"
current cori modules do not exist.  need to update.

[2018-02-13 15:34] njeffery commented on #73
It's the same pop run and the one that's used for the gx1 stand-alone.

nicole

________________________________
From: Elizabeth Hunke <notifications@github.com>
Sent: Friday, February 9, 2018 5:16:29 PM
To: CICE-Consortium/Icepack
Cc: Jeffery, Nicole; Mention
Subject: Re: [CICE-Consortium/Icepack] BGC forcing (#73)

Alice, I suspect that the pop data was pulled from the pop ocean forcing file tha

[2018-02-13 16:47] duvivier commented on #73
Do we know what grid cells from the POP run the NICE and ISPOL were taken? i/j indices would be helpful.

[2018-02-13 19:00] proteanplanet commented on #149
Hi Elizabeth,

May I ask some stupid questions about this, because it is of high interest to me.

I assuming that 'default runs' means no change to the namelist settings in icepack_parameters.F90, and includes the following settings:
-Bitz-Lipscomb
-highfreq is off
-natmiter=5

From this plot, one could be forgiven for thinking that some kind of filter has been used on the input SHEBA data between

[2018-02-13 19:18] eclare108213 commented on #149
We need to define better what we mean by "default".  In this case, it means the "out-of-the-box" run, i.e. with the namelist settings not altered.  This run used the default namelist settings except that it does NOT use the SHEBA convergence data.  So it's the mushy thermo, not BL99.  Another possibility is that the ridging scheme is doing something when it shouldn't be, although I would think tha

[2018-02-13 20:30] proteanplanet opened #174 "Bug in icepack.setup"
I have found a 'bug' in icepack.setup.  When running on Mac OSX, the operating system allows spaces to occur in paths:
e.g. "/Volumes/Promise RAID/work/Icepack"
However, if icepack.setup is run from such a location, it crashes, because the lines:
set ICE_SANDBOX = `pwd`
set ICE_SCRIPTS = ${ICE_SANDBOX}/configuration/scripts
Do not allow for this occurrence.

[2018-02-13 22:22] eclare108213 commented on #153
@duvivier I think this is all done.  I'm creating some plots of "science results" now.  In the meantime, could you look through the wikis for links to https://github.com/CICE-Consortium/Test-Results and point them instead to https://github.com/CICE-Consortium/Test-Results/wiki?  That's more direct.
Thanks!

[2018-02-14 02:57] eclare108213 commented on #153
Plots of output are here:
https://github.com/CICE-Consortium/Icepack/wiki/Sample-output

[2018-02-14 02:57] #153 closed

[2018-02-14 05:23] duvivier commented on #153
Elizabeth, I had my talk this afternoon, so I just saw these requests and the release notification. Do you still want me to check the wiki links? As far as I could see right now it looked like everything was done and looking good! :)

[2018-02-14 13:07] eclare108213 commented on #153
@duvivier I fixed some of the links, maybe most/all of them.  If we come across any more, we can fix them then -- no need to search for them now.  Thanks!

[2018-02-16 20:46] #110 closed

[2018-02-16 20:48] #126 closed

[2018-02-16 20:49] #148 closed

[2018-02-16 20:49] #152 closed

[2018-02-16 20:49] #154 closed

[2018-02-16 20:52] #167 closed

[2018-02-16 21:02] eclare108213 commented on #170
Try uncommenting lines 563, 564 in icedrv_step.F90.  This could fix a number of problems, e.g. issues #48 , #167 .
Underflows also appear in the CICE dynamics subroutine stress; this issue is bigger than Icepack.  There are different kinds of underflows:  those that occur because there isn't any ice (we should mask), those that occur because of coding choices (recode), and those that are produced

[2018-02-16 21:03] #174 closed

[2018-02-18 18:30] eclare108213 opened #177 "baseline test results?"
Should we / Can we / Do we need to post model output from a baseline suite from the v1 hash?  This is referred to in Issue #154.   Each machine and compiler might need its own, given their bit-differences.  Do we need to have a standard place to store this for each machine, maybe as part of the data directory structure, and provide specific instructions or a script for generating it from a particu

[2018-02-21 20:32] eclare108213 opened #178 "BGC skeletal layer test"
Create a test for the BGC skeletal layer configuration

[2018-02-23 18:00] eclare108213 commented on #73
The lat-lon values or ranges are given in the documentation, and at least for the N-ICE experiment, the ship was drifting so there was more than one i, j.   The ocean forcing was taken from the Collins et al 2006 referenced run (our gx1 ocean forcing netcdf file) for both test cases, N-ICE and ISPOL.  I think we should just make this clear in the docs and not worry about renaming the files -- they

[2018-02-24 22:12] eclare108213 opened #179 "E3SM feedback"
E3SM people look at the current Icepack implementation/interfaces, try to port Icepack into MPAS-seaice and provide feedback.  Improve interfaces if needed.  (This might be DEMSI before MPAS)

[2018-02-24 22:14] eclare108213 opened #180 "BGC interface"
Make the BGC interface more robust, if possible

[2018-03-10 02:42] eclare108213 commented on #177
This was discussed during the 9 March 2018 team meeting, and we agreed that there is no reason to post model baseline output data, but plots would be helpful for users attempting to set up the code themselves.

[2018-03-10 02:42] #177 closed

[2018-03-21 00:12] eclare108213 commented on #170
I search the code (cicecore and icepack) for underflow instances, and did not find others besides the ones in evp and eap and the ones that were discussed and/or fixed here:

I also looked at all of the places where puny (10^-11) is used.  These are mostly to prevent divide-by-zero, for masking purposes, or for certain physical states (e.g. snow depth disappears during melting, or the sun being be

[2018-03-23 20:12] eclare108213 opened #185 "update wikis for readthedocs"
update wikis (and elsewhere) to point to documentation on readthedocs instead of github.io, and edit documentation regarding how to use sphinx and readthedocs

[2018-03-23 21:12] duvivier commented on #185
I have updated the wiki main page and added a page on documentation in general. We will still need to update the documentation itself to add a "how to use readthedocs" section and remove a bunch of the "how to use sphinx" stuff.
https://github.com/CICE-Consortium/Icepack/wiki
https://github.com/CICE-Consortium/Icepack/wiki/Icepack-Documentation

[2018-03-27 19:43] duvivier commented on #73
@eclare108213 I am updating the documentation here for how to use readthedocs before we do the next release and get the DOI process going. Do you want me to add any text to the information about N-Ice and ISPOL section?

[2018-03-27 19:52] eclare108213 commented on #73
I think you should include the Collins et al 2006 reference (as in the Feb 9 comment above), since that's the run that the ocean forcing climatology was taken from.  Otherwise, leave the N-Ice and ISPOL information as it is, until we find out for sure if it needs to be changed.

[2018-03-27 19:56] duvivier opened #186 "Clean up Icepack /doc/ file"
With new readthedocs ability, we need to clean up the /doc/ directory.

@eclare108213 can the following files be removed?
Icepack-v1.0.0.pdf  --> we're moving to readthedocs, so I think we want to remove this old version, right?
DocForChanges.pdf  --> this is how people gave you changes to the column package. I think it's outdated now with the Pull Request workflow.
DocForChanges.rtf
ACMECollabAgr

[2018-03-27 20:07] duvivier commented on #73
Ok, will do!

[2018-03-27 20:17] eclare108213 commented on #186
yes

You can remove these.  They might still be useful, but I have copies if we need to bring them back into service.

No, this can be removed now.
Thanks!

[2018-03-28 16:12] duvivier opened #188 "DOI info"
When we have a "general DOI" for the repo, we should add that information to the README.md as well as the documentation so that we can point users to that and ask them to please cite that when using this code.

[2018-03-28 19:33] duvivier commented on #186
It looks like we could remove make.bat, Makefile, and .DS_Store from the /docs/ directory and readthedocs still works like we'd expect. However, use of Sphinx offline will not be possible without make.bat and Makefile. Do we still want to keep these files, just in case people want to use Sphinx instead of readthedocs?
@eclare108213 @apcraig @dabail10 , your input would be appreciated. I'm leaning

[2018-03-28 19:35] duvivier commented on #185
Added how to use readthedocs to the documentation and incorporated as part of PR #187 .

[2018-03-28 19:35] #185 closed

[2018-03-28 19:36] duvivier commented on #73
Added Collins reference as part of Pull Request #187.

[2018-03-28 19:38] anders-dc commented on #186
FWIW, `.DS_Store` files are [auxiliary files for macOS](https://en.wikipedia.org/wiki/.DS_Store), and contain information like icons, etc. They have no place in these repositories, so I recommend deleting them and adding them to the `.gitignore` file.

[2018-03-28 19:53] apcraig commented on #186
We should keep any files needed to build the documentation outside readthedocs.  I think it will be useful to continue to support this approach, at least for now.

[2018-03-28 19:56] duvivier commented on #186
Okay, agreed that we should keep them.

I have also added PR #189 to remove the .DS_Store file that somehow missed our scans. I have also added .DS_Store files to the CICE/.gitignore file and removed them from that repo as well.

[2018-03-28 19:56] #186 closed

[2018-04-06 18:20] dabail10 opened #191 "zqsn initialization"
This code in init_vertical_profile has changed.

        if (hslyr > hs_min/rnslyr .and. heat_capacity) then
            ! zqsn < 0
            Tmax = -zqsn(k)*puny*rnslyr / &
                 (rhos*cp_ice*vsnon)
         else
            zqsn  (k) = -rhos * Lfresh
            Tmax = puny
         endif

zqsn(k) used to be initialized to trcrn(i,j,nt_qsno+k-1) in CICE5.1.2. What happened to this a

[2018-04-06 19:04] dabail10 commented on #191
Nevermind. This does not seem to be an issue.

[2018-04-06 19:10] #191 closed

[2018-04-06 20:02] eclare108213 commented on #191
Good, I'm glad you don't think it's an issue.  @njeffery changed this, I believe, fixing a bug.  I don't remember the details at the moment, but if it continues to look suspicious I can track it down.

[2018-04-08 06:59] eclare108213 commented on #188
Our general DOI number for the Icepack repo is 10.5281/zenodo.1213462.
@duvivier knows this already, but for the record:
@apcraig created clearinghouse wiki pages for documentation etc. that can be kept up to date, so that pointers in older versions of the code (that gets cloned) do not break if we move things someplace else (as we have just done for the docs, to readthedocs).  E.g. see https://gi

[2018-04-09 16:49] duvivier commented on #188
I have a response from Zenodo about creating the CICE-Consortium community and once this is done, it should be included in this documentation was well.

[2018-04-09 18:14] eclare108213 commented on #188
We also need to upload Icepack v1.0.0 to get a DOI number for it, and then associate it with our general Icepack repo DOI.

[2018-04-09 19:26] eclare108213 commented on #188
See
https://zenodo.org/communities/cice-consortium
and our Icepack v1.0.0 doi number:  10.5281/zenodo.1215746
with upload at
https://zenodo.org/record/1215746#.Wsu99Y5RJGs

[2018-04-11 22:44] eclare108213 opened #192 "update namelist and documentation"
Some namelist parameters changed in Icepack and probably should be made consistent in CICE.

In Icepack we have all data in data_dir.
Can we do this in CICE, or do we need to keep  atm_data_dir, ocn_data_dir, bgc_data_dir?

Add to CICE namelist:

Same parameter names but different values:

[2018-04-11 22:45] eclare108213 commented on #192
Oops, I put this in the Icepack repo by mistake.  Will move to CICE.

[2018-04-11 22:45] #192 closed

[2018-04-17 00:06] eclare108213 opened #194 "Icepack code coverage"
The new codecov test by @anders-dc (#193) does a great job of pointing our the holes in our test coverage.  Many of the "misses" are write statements for various failure modes, which we hope never to write (unless we want to include some failures in our testing).  By far, the biggest coverage gaps are for zsalinity and skeletal-layer bgc -- I'll put the bgc ones in a separate issue.  Here's the ru

[2018-04-17 00:18] eclare108213 opened #195 "bgc code coverage"
@njeffery Please let us know the proper namelist combinations to exercise these portions of the bgc code.  The runs don't have to be science-worthy, we just need to be able to test the code to make sure changes are BFB, no segfaults, divzero, etc.  Thanks!

What else needs to be on/off or otherwise set to run these:
skl_bgc = T
dEdd_algae = T
model_aero = T
solve_zsal = T

turn on DIC, Chl, Fe

It

[2018-04-25 21:59] #188 closed

[2018-04-26 02:48] eclare108213 commented on #194
Most of these options are included in -s alt02, alt03, alt04 in PR #196, and bug 1 is fixed.  Still missing:
* calc_Tsfc=F (I don't think this is possible in our configurations -- this is used by UK MetOffice in their coupled system)
* kcatbound=3 (I suggest we remove this option, which I couldn't get to work well enough to publish -- it'll probably generate more questions than it's worth)
* there

[2018-05-02 02:58] eclare108213 opened #198 "alt03, alt04 restarts fail"
The problem might lie elsewhere, but the common elements between these two tests are

[2018-05-11 17:47] apcraig opened #200 "Need upwind advection test"
In the test matrix,

https://docs.google.com/spreadsheets/d/1dMzOC2GAsGqXJvs7xHybCQkPRneeUm78Ah1OXp34bAQ

alt04 is supposed to test the upwind advection scheme but this causes the model to fail so remap is being used temporarily.  We need to add or modify one of the tests to cover upwind.

[2018-05-11 17:48] apcraig commented on #200
This needs to be in CICE.

[2018-05-11 17:48] #200 closed

[2018-05-16 03:03] eclare108213 commented on #198
Fixed in PR #201.
The restart problem was associated with restoring sst.  When using default forcing, the sst value at the beginning of the run (whether initial or continued) was being restored to, and this was different in the restart file than the default value at the beginning of the initial run.  The default value is now saved as sstdat and used if restoring.  Runs using forcing that includes

[2018-05-16 03:04] #198 closed

[2018-06-05 18:27] eclare108213 commented on #195
Skeletal layer tests (skl_bgc) were added in PR #199.   Still to do:

Limit time span of NICE tests to the dates when the forcing data is valid, and don't test restarts.
Add skl tests to the standard suite.
Check remaining code coverage items above.

[2018-06-06 00:58] eclare108213 commented on #195
PR #203 addresses items 1 and 2 above.

[2018-06-07 00:45] eclare108213 commented on #195
PR #203 now also addresses item 4.

[2018-06-18 16:49] #178 closed

[2018-06-18 16:51] eclare108213 commented on #73
@duvivier has this issue been sufficiently addressed, or are there still outstanding questions?

[2018-06-18 21:00] eclare108213 opened #204 "loft_gnu restarts fail"
ALL restart tests are failing on the loft machine with the gnu compiler.  The scripts are not computing the correct value for the number of timesteps to take in the restart run:

     bash-3.2$ diff icepack_in.2 ../pinto_intel_restart_col_1x1_diag1.fs1/
     7c7
     <     npt            = 0
     ---

[2018-06-19 04:46] eclare108213 commented on #204
@mattdturner or @apcraig Here is the offending line:

      set npt=`grep "npt " icepack_in.1 | grep -oP "\d+" | sort -n | tail -1`

The problem is that the -P option is not available for grep on this laptop.  Can this line be accomplished without it?  I'm not sure what its purpose is here...

       -P, --perl-regexp
              Interpret  PATTERN as a Perl regular expression.  This is highly

[2018-06-19 15:15] duvivier commented on #73
Yes, this is fixed and I fixed a second typo with pull request #205

[2018-06-19 15:15] #73 closed

[2018-06-20 20:29] mattdturner commented on #204
The ``-P`` allows for grep to use the regular expression ``\d+`` to pull the numerical value from the "npt" line in icepack_in.1.  The same functionality can be accomplished multiple different ways:
``set npt=`grep "npt " icepack_in.1 | awk '{print $3}' | sort -n | tail -1` ``
``set npt=`grep "npt " icepack_in.1 | grep -oE "[[:digit:]]+" | sort -n | tail -1` ``
``set npt=`grep "npt " icepack_in.1

[2018-06-21 20:01] eclare108213 commented on #204
Scripting is not my forte, so the suggestions are appreciated. @apcraig what’s your preference?

Sent with BlackBerry Work
(www.blackberry.com)

From: Matthew Turner <notifications@github.com<mailto:notifications@github.com>>
Date: Wednesday, Jun 20, 2018, 4:29 PM
To: CICE-Consortium/Icepack <Icepack@noreply.github.com<mailto:Icepack@noreply.github.com>>
Cc: Hunke, Elizabeth Clare <eclare@lanl.gov

[2018-06-22 11:12] eclare108213 commented on #204
sed works, and submitted PR #206.  I didn't test the other two options.

[2018-06-26 13:05] eclare108213 opened #209 "documenting/monitoring updates to forcing data"
This issue is relevant for both Icepack and CICE.  The following is copied from PR #207:

We had outdated input datasets on conrad and gordon. @duvivier , I'm going to recommend that maybe we add a date string to the tar files on the ftp site indicating the date they were created. That way it's easier to tell if a "relatively newer" input data tar file might be on the ftp site. But that might also

[2018-06-26 16:24] eclare108213 commented on #209
Does ftp follow links?  If so, would this be sufficient:

- put a date string (yyyymmdd) on the file name
- link a generic filename to the latest version
- provide (up)date information on the forcing wiki page

A script to update the data could be handy if there are many steps to do, but right now I don’t think that’s true.  And for CICE, we won’t want to upload all of the data every time — the da

[2018-07-03 21:43] duvivier commented on #209
I just got back from being out. I'm following up on this. I do not believe we've fixed the files so that they have date strings at this point, so I need to do that.

For some forcing files, we've just added _mmddyyyy to the file name (e.g. /Icepack_data/forcing/ISPOL_2004/ISPOL_atm_forcing_05092018.txt) but this is not consistently implemented for every file (e.g. /Icepack_data/forcing/CFS/cfsv2_2

[2018-07-09 00:50] apcraig commented on #209
@duvivier I would say do not change any current files.  What we have now is fine.  We should just starting adding date stamps to files moving forward.  What we want most is unique filenames and never a new file replacing an old one, it sort of doesn't matter the form of the filename.  It could be a date stamp or even an appended v01, v02, v03, or whatever.  Or even just a different name.  We don't

[2018-07-11 22:00] duvivier commented on #209
Okay, I think I had only appreciated part of the issue. Here's a summary:

Problem:
- we have outdated input data on some machines
- no way to tell whether local input data is up to date for code
Solution:
- need to consistently add dates to input data files so we can better keep track of them
- add date string to tar files on ftp site to indicate when they’re created
- don’t keep old tar files ar

[2018-07-13 19:07] eclare108213 commented on #209
For date strings, I prefer yyyymmdd so that for something like 060209 I'm not (at first glance) wondering which pair is the year.

[2018-07-13 19:14] duvivier commented on #209
Fine by me. I agree with that as well. :)

[2018-07-30 19:57] jonbob opened #211 "make emissivity a namelist variable"
It would be very helpful for E3SM if the ice emissivity could be set via a namelist instead of being a parameter. The correct value of this seems to be a research subject and it would help to be able to test different values a bit more easily.

[2018-08-07 23:01] #204 closed

[2018-08-07 23:02] #195 closed

[2018-08-07 23:03] eclare108213 commented on #195
The remaining item is code coverage, will is covered in #194

[2018-08-07 23:10] eclare108213 commented on #179
@akturner writes:

MPAS-Seaice still has the column package version of the code.

[2018-08-07 23:12] eclare108213 commented on #172
@apcraig has this been fixed?  I don't see any cori test results, so maybe not.

[2018-08-14 18:57] apcraig commented on #211
emissivity is a setable parameter in icepack.  it is set by this call,

call icepack_init_parameters(emissivity_in=value)

icepack itself has no namelist.  E3SM should have it's own driver, namelist, and ability to set this parameter in icepack.

We could add emissivity to the icepack driver namelist and/or to the CICE namelist, but that probably would not have an impact on E3SM.  @eclare108213, p

[2018-08-14 19:05] eclare108213 commented on #211
I agree, E3SM can set this up as a namelist parameter regardless of what we do with it.
It would be nice to offer it as a namelist parameter for both Icepack and CICE drivers.  I'd probably put it in forcing_nml.  Open to other suggestions for that.

[2018-08-17 23:44] apcraig commented on #211
see #213 for icepack.  same coming soon for CICE.

[2018-08-18 03:27] apcraig commented on #211
CICE PR 176.

[2018-08-20 16:12] #211 closed

[2018-08-31 15:34] dabail10 opened #217 "shortwave_dEdd_set_snow"
I have a fix for this in an upcoming pull request. Basically, the fields fsn and hsn should be intent inout instead of out here. They are initialized here:

         fsn        = c0
         hsn        = c0
         rhosnwn(:) = c0
         rsnwn(:)   = c0
         apeffn(n)    = c0 ! for history
         snowfracn(n) = c0 ! for history

         if (aicen(n) > puny) then

            call shortwa

[2018-08-31 17:27] apcraig opened #218 "Add dump_last restart feature"
For regresssion testing, we need to write out restarts in all cases.  A handy feature would be to have a dump_last namelist setting in the Icepack driver like in CICE to turn that feature on.

Some of the regression tests are not running correctly because restarts are not being generated.

[2018-09-10 22:16] dabail10 commented on #218
I have this ready to go for icepack in an upcoming PR.

[2018-09-10 22:18] apcraig commented on #218
OK, I just finished some mods today too.  Did you also modify the tests to turn the new feature on?  How did you decide to do that because there are some subtle issues.

[2018-09-10 22:20] dabail10 commented on #218
What I decided is that for any test where dumpfreq was set to something within the test amount of time, I turned it off. Otherwise it is on by default. I have my changes on top of the outstanding CMIP PR. Should I go ahead and issue this?

[2018-09-10 22:26] dabail10 commented on #218
No, I haven't issued the dump_last PR. If I do it before the CMIP one is merged, then it includes changes from both. I'm not sure how one should handle cumulative things like this while waiting for a merge. I will not issue it yet and take your advice to turn it on only for smoke tests that do not set dumpfreq within the length of the smoke test.

[2018-09-10 23:58] apcraig commented on #218
It's a good question.  I think once you issue the PR and ask for reviews, then the branch should be more or less frozen (except for review issues) until the PR is pulled unless it's clear to everyone it's a work in progress.  I have created a PR in order for others to have a look at an implementation and to allow for discussion, but it's been clear it's a work in progress and I usually assign the

[2018-09-11 02:17] dabail10 commented on #218
So, I started my branch dump_last on top of the CMIP branch. Hence it is cumulative. Is it better to always do new changes from master?

[2018-09-11 03:14] apcraig commented on #218
Again, many ways to do it.  In this case, it would allow you to submit both PRs at the same time.  It depends on the changes.  If the dump_last branch depended or built on or modified some of the same changes as the CMIP branch, then it makes sense to do them sequentially.  If they are independent and without code conflicts, then it could be handy to do them separately.  It all depends.

[2018-09-11 16:33] apcraig commented on #218
Are you OK if I create a PR for the dump_last change?

[2018-09-11 16:42] dabail10 commented on #218
No, I will do it.

[2018-09-11 16:46] #218 closed

[2018-09-11 16:46] dabail10 commented on #217
Note that this is not answer changing in icepack, but is in CICE.

[2018-09-11 17:32] apcraig commented on #217
What PR is this addressed in and do we understand why the answers change?

[2018-09-11 21:17] apcraig commented on #218
See PR #221

[2018-10-09 01:37] duvivier commented on #209
I streamlined the procedure for adding new forcing files to the CICE ftp for both CICE and Icepack. I made the files available on the ftp in CICE_data_new.tar.gz, CICE_data_forcing_gx1_MONTHLY.tar.gz, and CICE_data_all.tar.gz. So if someone already has the data downloaded they could just download these new files. However, if a new user downloads data they will get everything they need.

I've added

[2018-10-09 01:37] #209 closed

[2018-10-11 15:16] #217 closed

[2018-11-28 18:29] njeffery opened #233 "Bug in temperature_change_mushy"
@eclare108213 This is a bugfix for a very infrequent failure in the mushy layer thermodynamics. The mushy temperature change iteration is currently set to a tolerance of ferrmax which is the same as the final energy conservation tolerance.  Every so often, when the temperature change iteration error is very close to ferrmax, the total energy conservation will fail because of round-off level errors

[2018-11-28 20:05] dabail10 commented on #233
What does the code abort with (before your  fix)? Is this a flux convergence error? How often did you see this error and does this fix eliminate all of the convergence errors? I'm assuming this is also present in CICE5.

[2018-11-28 23:35] eclare108213 commented on #233
My initial inclination is to postpone fixing this until after the release, because it seems to be extremely rare and the change is not BFB.  MPAS-seaice is running with a VERY old version of the column package (pre Icepack), which @proteanplanet plans to upgrade soon.  I was thinking that he could test this change during that process; there will probably be other changes needed to make Icepack com

[2018-11-28 23:38] duvivier commented on #233
@eclare108213 We are also running with an older version of the code in CESM, so fixing this bug for the Icepack release will not affect our runs. But it's good to know about so we can fix it in our older CICE code used in CESM2. So I'm okay with having @proteanplanet do the tests during the MPAS updating process.

[2018-11-28 23:42] apcraig commented on #233
@eclare108213 I agree that it makes sense to defer until after the release and further testing.

[2018-11-29 16:40] hzwang1995 opened #239 "the biogeochemistry forcing"
I am studying how to run cice 6.0 ,however ,I cannot find some biogeochemistry forcing data ,how can l find them

[2018-11-29 16:45] apcraig commented on #239
For general questions about CICE or Icepack, please use the bulletin boards referenced here,

https://github.com/CICE-Consortium/About-Us/wiki/Contacting-the-Consortium

and found here

https://bb.cgd.ucar.edu/forums/cice-consortium-model-development

[2018-11-29 16:45] #239 closed

[2018-11-29 17:22] njeffery commented on #233
I also suspect that it is not climate changing. Another possibility, though, is that with the stricter tolerance, we start to see new convergence failures in the temperature change routine.  We're starting our E3SM coupled bgc simulations  with this fix. I'll let everyone know if we run into problems.

________________________________
From: dabail10 <notifications@github.com>
Sent: Wednesday, Nove

[2018-11-29 17:36] dabail10 commented on #233
Funny. Marika and I were just discussing exactly this change. I will be doing a CESM test with this after AGU.

[2018-11-30 16:08] eclare108213 opened #243 "track down -O2 optimization issues"
The -O2 optimization flag causes restarts to not be BFB in some tests, both in Icepack and CICE.  See

https://github.com/CICE-Consortium/Icepack/pull/223
https://github.com/CICE-Consortium/Icepack/pull/240
https://github.com/CICE-Consortium/CICE/pull/187
https://github.com/CICE-Consortium/CICE/pull/196

We can begin looking in Icepack but might also need to do this for CICE.

[2018-12-03 19:26] eclare108213 opened #247 "can we track nonBFB changes easily?"
It would be nice to be able to quickly find all of the PRs that caused non-BFB changes, for both Icepack and CICE.  For example, I included this info in the Icepack 'recent changes' list but didn't include it in the v1.1 release description because I wasn't sure whether these were all of the nonBFB changes.

- Fix time level inconsistency in transport [#222](https://github.com/CICE-Consortium/Icep

[2018-12-04 22:12] eclare108213 commented on #247
Here is a suggestion for the PR templates.  When the PR is merged, we can lock the conversation, which hopefully means that the checkboxes can not be changed after that.  I'm not sure whether the checkboxes will actually work in a template, or if it'll show the square brackets instead.  That might be okay.  The nonBFB text below can be searched for in the GitHub search box.  E.g. search for "[x] S

[2019-01-04 21:00] dabail10 opened #248 "Add water isotopes"
We have these in our version of CICE5. So, they would need to be added to both Icepack and CICE. Now that I have a working version of CICE6 in CESM, I am getting started on this.

[2019-01-04 21:11] dabail10 opened #249 "Atmospheric boundary layer loop convergence on ustar."
We have added some code based on Mahrt and Sun, 1995, MWR to increase the wind speed in very stable boundary layer regimes. This has a namelist flag, use_coldair_outbreak_mod and only affects icepack_atmo.F90 (atmo_boundary_layer).

We also have code that will stop the iteration when ustar is changing less than a specified convergence tolerance. This could potentially reduce the number of iteratio

[2019-01-04 21:15] eclare108213 commented on #249
Is the Mahrt and Sun option applied instead of the Jordan option that tries to address the same issue?  If so, then maybe the option should be generalized.  If not and it's applied on top, well, maybe we should rethink that.

[2019-01-04 21:17] dabail10 commented on #249
It is applied on top of the Jordan et al. option and only in regions where the temperature difference between the surface and the lower atmosphere is above a particular threshold.

[2019-01-22 22:01] proteanplanet commented on #249
Please assign me to this issue.  I will be testing it in E3SM.

[2019-01-23 20:23] proteanplanet commented on #249
Hi Dave,  Please can you point us to some documentation on this change.  Has it been written up in a paper as part of CESM V2?  This change will affect other coupled models, and it needs to be consistent with their boundary layers, too, so will most likely need to be implemented as a CESM option. As Elizabeth points out, it needs to be consistent with what is already in the boundary layer for CICE

[2019-01-23 20:34] proteanplanet commented on #249
I see that  use_coldair_outbreak_mod  switches on one line or not, but that doesn't necessarily make it consistent with the rest of the boundary layer parameterization.   Perhaps you are referring to a discussion with Elizabeth not on this issues page?

[2019-01-23 20:48] dabail10 commented on #249
I don't understand. We need it as a part of our CMIP runs. It is switchable and would be off in the default CICE model. So, no other groups have to use it. I am trying to keep our version up to date with the Consortium version.

[2019-01-26 18:20] eclare108213 commented on #249
Andrew and I talked about this offline, briefly.  We agree that it makes sense to incorporate it into our code base with an on/off flag, especially since CESM needs it.  The option will need to be documented along with a description of what the new physics is and how it interacts with the existing physics in the boundary layer parameterization.  That's the part that is not clear to Andrew and me.

[2019-01-26 23:48] dabail10 commented on #249
I guess I was thinking that I had to demonstrate scientific results/publications with this modification before it was acceptable. I am certainly happy to add documentation. Not sure if and when anyone will ever do a paper on results with and without this.

[2019-03-13 18:07] apcraig opened #255 "Icepack Interface Refactor"
A number of concerns associated with the icepack interfaces have been raised and an interface refactor is being considered.  A google doc has been created to provide a single location to aggregate input and to facilitate creation of a design document.  I hope the google doc will lead to a design and implementation plan should we decide to move forward.

https://docs.google.com/document/d/1jgNia1Od

[2019-03-13 18:35] eclare108213 commented on #255
Thanks @apcraig
For the two proposed approaches (keywords and data types) for mitigating issues with long hardwired subroutine argument lists, I would like to know what experience modeling centers/models have with them.  What is the best way to evaluate these options, short of implementing both and comparing?  Are there other potential solutions?
@philipwjones do you have suggestions this?

[2019-03-13 18:56] apcraig commented on #255
Thanks @eclare108213.  Let me also just clarify that the current google doc is something I put together in 30 minutes.  We need to flush out other issues, other requirements, and other design ideas.  The current document is far from comprehensive, but hopefully serves as a starting point.  I hope we will add significant content to the document over the next days/weeks and reorganize the document a

[2019-05-22 16:33] apcraig commented on #172
See PRs 314 in CICE https://github.com/CICE-Consortium/CICE/pull/314  and #258 in Icepack

[2019-05-24 18:30] #172 closed

[2019-07-05 22:18] philipwjones commented on #255
Sorry to be slow in responding. A few comments on the plan so far.  Despite the length of argument lists, explicit arguments with clear in/out intent is still going to be preferred for the ability to determine dependencies and for new programming models that infer data flow or create a DAG from those dependencies. Long argument lists can be alleviated with the use of user-defined types or structs.

[2019-07-27 18:03] apcraig commented on #247
We have updated the PR form and I am going to close this for now.  If others feel it should remain open, please reopen.  Between the PR and test results page, we should be able to figure this out.  Although how easy that might be is open for discussion.

[2019-07-27 18:03] #247 closed

[2019-07-27 18:24] apcraig commented on #194
There is an updated code coverage report based on runs on conrad with the full test suite,

https://codecov.io/gh/CICE-Consortium/Icepack/tree/586247ab794415d85ec5ca91232bb26270351cab

Lets have a look at that and decide if new tests are needed to improve coverage.  Also, I am going to create a new PR shortly to finally push the codecov capability to the Icepack consortium master.

[2019-08-07 19:09] dabail10 opened #269 "NCAR izumi"
Need to add support for NCAR izumi. The machine hobart is going away eventually and we will need to migrate the test suite to izumi.

[2019-09-05 21:17] #269 closed

[2019-10-25 19:11] eclare108213 commented on #255
See description of interface changes needed by GFDL here:
https://github.com/MichaelWinton/SIS2/blob/melt_pond/docs/icepack.md

[2019-10-25 19:20] eclare108213 opened #279 "Negligible snow and convergence"
From @MichaelWinton at https://github.com/MichaelWinton/SIS2/blob/melt_pond/docs/icepack.md

With the GFDL pond scheme it turned out that negligible snow (ignored by Icepack) did not have negligible shortwave absorption when the energy conservation convergence criterion was applied in the iterative solver. A change was made to add snow shortwave absorption to the surface energy budget when the sno

[2019-10-28 20:23] eclare108213 opened #280 "shortwave modification for mushy thermo layers melting completely"
The mushy-layer issue occurred in CESM in regions of very thick and rapidly melting ice in the Canadian Arctic Archipelago, and is likely symptomatic rather than the originating problem.  We have two ways of addressing the issue, both of which are research projects.  First, the model physics can be altered to stop such unphysically thick ice from appearing, which may involve the new tri-variate st

[2019-11-14 18:24] apcraig opened #283 "Add automated interface documentation"
There was some discussion in [CICE #378](https://github.com/CICE-Consortium/CICE/pull/378) about generation of interface documentation.   Several options were put forward including Doxygen, sphinx extension, or Ford.  There may be others to consider.

I think there are several things to consider
  - what is covered.
  - what is the audience.
  - what the documentation looks like.
  - where the doc

[2019-11-14 18:25] phil-blain commented on #283
I'd be happy to help with that.

[2019-11-18 21:37] apcraig commented on #283
I spent a bunch of hours playing with sphinx fortran.  I finally got it to work on my local computer after messing around with various versions of things.  I needed to use python3 (because that's needed for readthedocs) and I had to download and build sphinx fortran directly, in part because the public pip version is several years old and only works with python2.   I believe the official version i

[2019-12-09 19:12] apcraig commented on #283
I believe this is addressed by #284 and has been documented.  I am going to close this.  If there are other issues like doxygenating the whole code or upgrading the implementation, we can create a new issue.

[2019-12-09 19:12] #283 closed

[2019-12-09 19:16] apcraig commented on #255
Just to note, some refactoring was done as part of #282, #285.  Keyword pairs were added to arguments in the Icepack driver and CICE.  Several interfaces were renamed, a few interfaces were made public thru icepack_intfc, and the icepack_tracer init/query/write interfaces were rearranged a bit.  In addition, some argument names changed, some arguments were dropped, and in one subroutine, the full

[2019-12-09 19:17] apcraig commented on #180
See also #255.

[2020-02-05 22:04] phil-blain opened #294 "Add conda environment to run on personal computers"
Mirror CICE-Consortium/CICE#393

[2020-02-07 18:48] eclare108213 opened #297 "update copyright info in code"
change 2019 to 2020 in copyright text, elsewhere
add copyright statement to Icepack interface modules

[2020-02-14 04:11] #294 closed

[2020-02-21 03:59] apcraig commented on #297
This has been addressed in #301.  It is also addressed in CICE [#409](https://github.com/CICE-Consortium/CICE/pull/409).

I cannot find a copyright page on the About-Us / Resource Page.  Is there something there?

[2020-02-21 05:35] eclare108213 commented on #297
There might not be anything in the About-Us repo.  I was thinking of the License files, which are in both the CICE and Icepack repos.  Those are pdfs so I'll probably need to update them (and it looks like I didn't do that last year).

[2020-03-26 20:25] apcraig opened #306 "Port conservation checks from CICE to Icepack"
This is an outcome of some of the isotope testing as well as the CICE workshop.

[2020-03-30 13:31] eclare108213 opened #309 "Test results reporting"
This issue probably ought to be in the test results repo's issue list, but I'm afraid it will get lost there.  I'm testing icepack v1.2.1 (and cice v6.1.1) on badger, and noticed a few weirdnesses.

1. Why do badger results not show up on the main v1.2.1 page?
They are here:
https://github.com/CICE-Consortium/Test-Results/wiki/icepack_by_mach
but not here:
https://github.com/CICE-Consortium/Test-R

[2020-03-30 17:48] apcraig commented on #309
There are many good points here.  To answer some questions, the release test results are manually created.  I copy/paste to create the release results pages.  I will add badger manually now to the release pages.  There are probably ways the pages could be created automatically for releases, but I'm not sure it's worth the effort to setup the scripts to do that robustly when manually copying and pa

[2020-03-30 17:55] apcraig commented on #309
@eclare108213, I added badger to the Icepack1.2.1 test results.  Have you posted the badger CICE6.1.1 results yet?  I cannot find them.

[2020-03-30 18:08] eclare108213 commented on #309
I haven't tried to post them yet.  The gx3 JRA55 tests failed because I hadn't uploaded the new data files to badger.  I'm trying to do that but bandwidth is a problem, so I might just have to ignore those tests for now.

Regarding your list above:

I think just having 'RUN' results accounted for in the summary at the bottom would be enough.  I didn't look carefully, but in passing _I think_ I not

[2020-03-30 18:27] eclare108213 commented on #309
Here is an example of the summary block and the 'misses' that it isn't reporting.  The clue that they are there is that 129+1 /= 132.

[2020-04-01 22:55] apcraig commented on #309
I am refactoring the test reporting output.  I am proposing something like the following.  The main points are that the "RUN" output is no longer used.  I leave the case in PEND state.  I also have accounted for the results more carefully, adding "MISS" as a counted state and splitting out the different types of failures to improve reporting.  I think this will be helpful.  If I get a fail, I do .

[2020-04-02 00:39] eclare108213 commented on #309
What does #### mean?  This looks good to me, although PEND and FAIL are a little confusing.  Are the Descriptors accurate?  That says FAIL could indicate a run is still executing, but your comments above sound like that case is now PEND (which makes more sense to me).

[2020-04-02 00:47] apcraig commented on #309
#### is just a comment.  That is just indicating that the initial run of the restart test completed, but we don't need that.  I'll take it out if it's confusing.  I will also update the descriptors.  More soon.

[2020-04-02 02:57] apcraig commented on #309
I removed the "runinitial" output.  Now the final bit looks as follows.  Happy to make further changes, just let me know.  thanks!

[code]

[2020-04-02 13:03] phil-blain commented on #309
Minor thing, but I'd put the breakdown of the failed tests below the `5 of 26 tests FAILED`

[2020-04-02 16:49] apcraig commented on #309
I originally had a layout with total failed tests above the breakdown.  I also played with indentation a bit.  In the end, I figured the first thing someone wants to know is total failed tests.  So I made that easy to find as the last line.  But I'm happy to switch it again.

The other thing is we could get rid of the detailed breakdown.  I like it and think it will be useful, but maybe that's jus

[2020-04-02 16:57] eclare108213 commented on #309
I don't mind the detailed breakdown but would probably elect to not have it, if it were just me deciding.  I search the rest of the list to find which ones failed, anyhow, and so having a count only adds a little extra info.  But this might be useful for pasting into PRs?

[2020-04-03 17:46] apcraig commented on #309
I decided to remove the detailed breakdown from the standard out, but have included it in the results.log file.  I have created a PR in CICE for this.  Will implement the same upgrade in Icepack next.

[2020-04-03 23:25] apcraig commented on #297
I just had a quick look at the License files, they are pdfs and contain the copyright.  Could we convert these to simple text files so they are easier to edit and maintain in the future?  If @eclare108213 agrees, I'm happy to do that.

[2020-04-04 01:37] eclare108213 commented on #297
Sure.  I'd like to see what they look like in final form before we commit to this change.  I probably made them pdf originally for the formatting.

[2020-04-04 01:51] duvivier commented on #297
Or pdfs because we didn't want it to be easy for users to change.

[2020-04-04 15:49] eclare108213 commented on #297
I just changed the Icepack License file using Adobe Pro (since I don't have the original on my laptop).  It will be merged with the isotopes PR.  Will do similar for CICE.

[2020-04-06 12:33] #297 closed

[2020-04-10 00:36] apcraig commented on #248
Just to note, the first PR for water isotopes is #275 and https://github.com/CICE-Consortium/CICE/pull/423.  The main remaining issue is isotope conservation validation (could be science, technical, or diagnostics - TBD).  I will leave this issue open.

[2020-05-04 18:10] apcraig commented on #309
This was addressed in CICE in https://github.com/CICE-Consortium/CICE/pull/428.  I think the proposed updates are complete.  I will close.

[2020-05-04 18:10] #309 closed

[2020-05-04 18:20] apcraig commented on #194
The code coverage tool has been updated in #313 and #314.  It can be run by a few people and the results are available at

https://codecov.io/gh/CICE-Consortium/Icepack

and the latest valid results on a file-by-file list is

https://codecov.io/gh/CICE-Consortium/Icepack/list/fcc265787936d49f460e6ab8a549133e116685e0/

We should review those results and see where we can update testing to further im

[2020-05-05 19:51] eclare108213 commented on #249
See #315.
If I understand correctly, the 'cold air outbreaks' code is not being implemented in cice v6, since CESM does not need it after all, and the only thing now being implemented is the reduction in iterations for the atmo boundary layer.  Just to clarify, is that what was referred to as "flux convergence"?   I admit that I didn't think of numerical convergence, but rather a physical converge

[2020-05-05 20:01] eclare108213 commented on #233
@proteanplanet @dabail10
I'm just pinging this issue again.  It was last commented on in December 2018!  I think we should go ahead and fix it, and certainly we will need to do so for the MPAS/Icepack updates that are planned.  @dabail10 did you test this in CESM, either the 0.9 or 1.1 factor?  @apcraig was there any RASM testing of it?

[2020-05-05 20:08] eclare108213 commented on #279
@proteanplanet @njeffery
Just getting this issue back on our radar as something that we can consider fixing as part of the snow model upgrade for the MPAS/Icepack merge.

[2020-05-05 20:29] dabail10 commented on #233
We have implemented the 1.1 factor in CESM/CICE5. I thought this was already fixed in CICE6?

[2020-05-05 20:32] dabail10 commented on #249
I agree that "flux convergence" is not quite right. Then main thing is to allow for reduced number of loop iterations for natmiter. The logic was implemented was to do nothing in the loop if ustar is converged. It doesn't explicitly exit the loop early.

[2020-05-05 20:58] apcraig commented on #233
There was no testing in RASM as far as I know.  If it's fixed in CICE6, then it's in RASM, but I don't think it's been fixed in CICE6.  A grep of ferrmax in icepack_therm_mushy.F90 suggests it has not.

[2020-05-05 23:13] eclare108213 commented on #249
Title suggestion for this PR:  atmo boundary layer loop convergence for ustar

[2020-05-12 22:11] eclare108213 commented on #248
See also #306, for which the isotope conservation issue can be a test case.

[2020-05-12 22:22] eclare108213 opened #316 "Create a test that starts in September"
Create a test that starts in September so that ice does not immediately freeze on the first time step, and document it.

[2020-05-12 22:26] eclare108213 opened #317 "Document how to add diagnostic output"
Provide documentation for how to add new diagnostic output (Icepack mainly, but see if this is also needed for CICE).

[2020-05-13 06:05] proteanplanet commented on #233
The merge of Icepack with E3SM provides an opportunity to check for differences, because the issue does not occur in E3SM to tbe best of my knowledge.

[2020-05-13 15:00] eclare108213 commented on #233
I think @njeffery found this and fixed it in E3SM to begin with, but it never made its way back to Icepack.  So you're right, the issue does not occur in E3SM any more.

[2020-05-13 15:01] njeffery commented on #233
@eclare108213 :  That's correct.

[2020-06-04 19:14] eclare108213 commented on #249
Merged in both Icepack and CICE:
https://github.com/CICE-Consortium/Icepack/pull/315
https://github.com/CICE-Consortium/CICE/pull/452

[2020-06-04 19:14] #249 closed

[2020-08-18 19:55] dabail10 opened #333 "Divide by zero bug"
There is the slight chance in icepack_therm_itd.F90 that this code will result in a divide by zero in the slope calculation in the case that hicen_init(n+1) ~= hicen_init(n). This does not arise very often. Need to add a check here before dividing.

         if (hicen_init(n)   > puny .and. &
             hicen_init(n+1) > puny) then
             ! interpolate between adjacent category growth rate

[2020-08-19 18:09] dabail10 commented on #333
Some more context here. This can only happen when hicen_init(n+1) ~= hicen_init(n) ~= hin_max(n). So, you are running into a situation with 0 / 0. MY proposed fix would be as follows:

denom = max(puny,hicen_init(n+1) - hicen_init(n))
slope = (dhicen(n+1) - dhicen(n)) / denom

thoughts? @eclare108213 @proteanplanet

[2020-08-20 06:05] proteanplanet commented on #333
I agree this problem should be mitigated, unlikely as it is to occur.  The solution suggested above is accuracy degrading, so an alternative needs to be considered.

[2020-08-20 15:48] dabail10 commented on #333
Can you suggest an alternative that is not accuracy degrading? We use puny as the criteria for something being "zero" everywhere else.

[2020-08-20 20:51] dabail10 commented on #333
This is related to https://github.com/CICE-Consortium/CICE/issues/502.

[2020-08-24 15:45] whlipscomb commented on #333
Yes, there is a CFL-like criterion here.  To make up some numbers: Say we have category boundaries at 1 m , 2 m, 3 m, etc., and initially we have ice thickness at the midpoint of each boundary: 0.5 m, 1.5 m, 2.5 m, etc.  Now suppose we take a long time step, say 6 months from September to March, and the new thicknesses in categories 1 and 2 are 1.9 m and 1.8 m, respectively, so that now the catego

[2020-08-24 17:26] proteanplanet commented on #333
Thanks @whlipscomb.  That also means that the non-convergence of increasing ncat comes into play.  The larger ncat, the smaller the required timestep. I appreciate this is stating the obvious, but it doesn't hurt to think out loud on some occasions.

[2020-08-24 17:33] proteanplanet commented on #333
@dabail10, @eclare108213, @whlipscomb:  Based on this discussion, I'm going to rewrite the chunk of code at the head of this issue, and post it here this week for consideration and possible testing.

[2020-08-24 20:04] whlipscomb commented on #333
Sounds good.  I'm entering this discussion late, but I'm curious as to why the code doesn't converge with increasing ncat.  I would expect that it _would_ converge, if the category boundaries are defined sensibly and the algorithms are working as intended, without large changes in behavior associated with small changes in ice thickness.

That's a big 'if', though.  Do you suspect that the ITD redi

[2020-08-24 20:08] dabail10 commented on #333
This started because the NOAA UFS test suite turned up a case with divide by zero where hicen_init(n+1)-hicen_init(n) is going to zero. This can only happen when the hicen_init(n+1) ~= hice_init(n) ~= hin_max(n). That is they are both very close to the category boundary.

[2020-08-24 20:31] whlipscomb commented on #333
I was thinking that if there are cases where hicen_init(n+1) ~= hicen_init(n) for a particular test, then there might also be cases where hicen_init(n+1) < hicen_init(n).  This would be an algorithmic error (i.e., a bug), because the denominator would be negative.  Such an error might be missed in testing because there's no logical trap for it.  So we would need some additional logic.

I'm not sur

[2020-08-24 20:39] proteanplanet commented on #333
Only if the thermodynamic timestep is decreased sufficiently to match increasing ncat - something that I believe was not included in the convergence tests.

[2020-08-24 20:39] dabail10 commented on #333
No, but the full expression has (hin_max(n) - hicen_init(n)) * slope where slope = (dhice(n+1) - dhice(n)) / (hicen_init(n+1) - hicen_init(n)). Since, this is hicen before the changes from dhice, I don't think you would have the situation where hice_init(n+1) < hicen_init(n). I guess I was assuming that both hicen_init(n+1) and hicen_init(n) would be converging together and hence very close to hin

[2020-08-24 20:46] proteanplanet commented on #333
@dabail10 According to my algebra, the coefficient (hin_max(n) - hicen_init(n)) does not affect stability.  It is the (a1(n)/a2(n) - 1) term that matters here.  I'll post what I believe is the solution in the coming days once I've finished exploring it in Mathematica.

[2020-08-24 21:05] whlipscomb commented on #333
Sorry, @dabail10, I've been thinking about this in the wrong way and probably adding confusion.  There is a potential CFL issue when there is a long time step with category boundaries close together.  But as you say, that's not the problem here, because the denominator contains hicen_init, not hicen after the changes.

Now I'm trying to imagine how hicen(n) and hicen(n+1) could approach hin_max fr

[2020-08-24 21:06] whlipscomb commented on #333
@proteanplanet, I'll be interested to see your solution.

[2020-08-24 21:08] dabail10 commented on #333
I will ask the NOAA folks to help me with that. This has only come up in one of their test cases so far. So, it doesn't happen very often.

[2020-08-24 21:18] whlipscomb commented on #333
It would be useful also to see snow depth and dhice for each category.  I'm thinking that dhice might be less smooth than I was imagining.  Ideally, all ice and snow properties in two adjacent categories would approach each other as ncat becomes large.  But there's nothing in the code to guarantee that snow depths and vertical temperature profiles in two neighboring categories are similar.  So dh/

[2020-08-24 21:25] proteanplanet commented on #333
I will speculate that I suspect this issue is the cause of a number of crashes elsewhere in the sea ice code that have been difficult to diagnose in RASM and E3SM.  That the denominator rarely equals zero has probably masked the bigger issue.

[2020-08-24 21:34] eclare108213 commented on #333
Could this be possible if cat n is growing and cat n+1 doesn't have any ice yet, and then suddenly it does due to redistribution from cat n?  Seems like that ought to happen all the time, not rarely.

Regarding lack of convergence as ncat increases, @whlipscomb this was something that I worked on years ago and couldn't figure out - you were still at LANL and providing suggestions to me then.  At t

[2020-08-24 22:04] whlipscomb commented on #333
@eclare108213, this is looking to be an interesting and dangerous problem.  (Dangerous in the sense that I could spend a month on it when I have lots of other things I need to work on). But I'll add a few more thoughts:

* In general, we don't want hicen(n+1) < hicen(n) after the thermodynamics and before the ITD remapping.  This could happen if there is ice growing in category n and melting in ca

[2020-08-24 22:08] eclare108213 commented on #333
I agree with @whlipscomb that diagnostics from the NOAA case would be helpful.  Since it's the only confirmed case we have at the moment, it would be nice to see how suggested code changes from @proteanplanet affect it, or even if implementing some tests that would cause aborts, as suggested by @whlipscomb, would have caught this earlier.

[2020-08-25 17:15] dabail10 commented on #333
Thanks to @DeniseWorthen for adding some print statements. This is very eye-opening:
                                     n                   n+1
271:  hin_max    1 0.6445072      1.391433
271:  aicen_init    1 0.3913089E-02 0.1934461E-01
271:  vicen_init    1 0.7826178E-03 0.3868922E-02
271:  hicen_init    1 0.2000000     0.2000000
271:  dhicen    1 0.1070497E-02 0.1149972E-02
271:  denom     1

[2020-08-26 16:48] whlipscomb commented on #333
@dabail10, Thanks, that's not what I was expecting.  The obvious question is how we wrongly get thin ice in category 2 (just 0.2 m, when the min for this category is 0.64 m).  Also, I'm curious under what circumstances CICE would generate an ice thickness of exactly 0.2 m.

Would it be possible to see similar diagnostics at several points of the preceding time step?  The ITD failure seems to be a

[2020-08-26 16:55] dabail10 commented on #333
I was definitely surprised. I agree that this seems to be a problem. I was thinking that aicen/vicen could evolve in away that somehow the hicen in two adjacent categories could become the same. I'll take a look in the log files earlier for this point.

Dave

[2020-08-26 17:06] proteanplanet commented on #333
@dabail10.  Is this a forward model, or are they assimilating?

[2020-08-26 17:53] dabail10 commented on #333
I do not believe this run has data assimilation. However, @DeniseWorthen can answer that for sure.

[2020-08-26 18:11] dabail10 commented on #333
I have confirmed there is no data assimilation, but I believe this is an initialization bug. Here is the print from the first timestep:

271:  hin_max    1 0.6445072      1.391433
271:  aicen_init    1 0.3843437E-01 0.1427963
271:  vicen_init    1 0.7686874E-02 0.3224640E-01
271:  hicen_init    1 0.2000000     0.2258210
271:  dhicen    1 0.1100163E-02 0.1114989E-02
271:  denom     1 0.2582099E-01

[2020-08-26 18:30] proteanplanet commented on #333
I definitely do want to address the issue, even though it's not the cause here. Both in RASM and E3SM, there have been many occasions of undiagnosed crashing in the thermodynamics code that have been attributed to other instabilities, but never proved. Knowing this remains an issue is problematic for being able to rule it out in other circumstances.

[2020-08-26 18:40] whlipscomb commented on #333
I suggest adding a couple of logical tests at the start of ITD remapping, or perhaps earlier in the code:

(1) Make sure that for categories 1 to ncat, we have hicen_init (i.e., ice thickness before thermodynamic growth/melt) within the category bounds defined by hin_max.  This would catch the initialization error described here.

(2) After thermodynamic melt/growth, make sure that for n = 1 to nc

[2020-09-02 18:08] proteanplanet commented on #333
@whlipscomb, @dabail10, @eclare108213:  Having looked through the code, and given this further thought, I think the best approach may be to add a simple catch at the place where this problem was detected. The bigger CFL-type issue appears to be catered for by reverting to rebinning.  Actually fixing this is a science project.  Hopefully, the draft PR https://github.com/CICE-Consortium/Icepack/pull

[2020-10-15 20:33] dabail10 opened #338 "Abort in icepack_itd.F90 due to negative dvice."
This code is slightly different from CICE5. I think this should be dvice < -puny and not -puny x vicen(nd). The NOAA folks have found a case where puny x vicen(nd) is 1.0e-61. So, it aborts with negative dvice. The CICE5 code checks for aicen < puny. Thoughts?

               if (dvice(n) < c0) then
                  if (dvice(n) > -puny*vicen(nd)) then
                     daice(n) = c0 ! shift n

[2020-10-15 20:39] eclare108213 commented on #338
I'm confused.  @dabail10 can you paste in the equivalent code block from CICE5, and for both of them, include conditional wrappers that might be further away in the code structure (like aicen > puny)?

[2020-10-15 20:50] dabail10 commented on #338
Apparently I was confused as well. This is the same code in CICE5 in shift_ice!

               if (dvice(ij,n) < c0) then
                  if (dvice(ij,n) > -puny*vicen(i,j,nd)) then
                     daice(ij,n) = c0 ! shift no ice
                     dvice(ij,n) = c0
                  else
                     dvice_negative = .true.
                  endif
               endif

So, again

[2020-10-15 21:20] eclare108213 commented on #338
Okay, it might be an initialization problem and roundoff differences, but it's also possible that the run is reaching this part of the code in v6 but was prevented from doing so in v5, so there might still be a difference in conditionals somewhere.

[2020-11-02 05:28] cshengzhe opened #340 "subrountine of get ISPOL ocean forcing in icedrv_forcing.f90"
in the subroutine get_forcing(timestep) of icedrv_forcing.F90, when ocn_data_type = 'ISPOL',
call interp_coeff_monthly(recslot, c1intp, c2intp)

         sst_temp(:) = c1intp *  sst_data(mlast) + c2intp *  sst_data(mnext)
         sss     (:) = c1intp *  sss_data(mlast) + c2intp *  sss_data(mnext)
         uocn    (:) = c1intp * uocn_data(mlast) + c2intp * uocn_data(mnext)
         vocn    (:) = c

[2020-11-10 16:54] eclare108213 commented on #340
My guess is that hmix did not appear here because it was deemed better to keep it fixed rather than use the values in the dataset.  Users are certainly allowed and encouraged to do their own tests, and if it turns out to be better to use the dataset value, then we can merge that code change into the repository.  The Consortium's implementation and configuration of applied forcing is only intended

[2020-11-10 16:54] #340 closed

[2021-03-13 00:12] #280 closed

[2021-03-13 00:27] eclare108213 opened #351 "Port new snow code from E3SM column physics"
Update the CICE Consortium Icepack code with recent new physics introduced to MPAS-seaice in E3SM, so that the changes will appear back in E3SM when Icepack is set up as a submodule in the sea ice code.

The work is being done in the InteRFACE project's forks of Icepack and CICE, with progress updates in E3SM's JIRA [EC-168].
https://github.com/Arctic-InteRFACE/Icepack

[2021-03-14 00:38] eclare108213 commented on #279
@MichaelWinton
I'd like to fix this in Icepack but I'm having trouble finding the change that you made - can't seem to make github compare your icepack_therm_mushy.F90 module with the Consortium's version (v1.0, right?).  Can you point me to the modified code, please, either as a code diff or just which lines in your code I should look at?
Thanks, e

[2021-03-14 00:47] eclare108213 commented on #233
@dabail10
Your comment above says that you implemented the 1.1 factor in CESM/CICE5 and tested it.  Was this one of the changes in your port of CESM mods to Icepack?  If not, can we get it in there?

[2021-03-15 16:33] dabail10 commented on #233
We do have this in CESM/CICE5. I think the alternate solution in CICE6 was used where the convergence is restricted more in the iteration:

    ferr = (efinal - einit) / dt - (fcondtop - fcondbot + fswint - fadvheat)

    lconverged = (dTsf  < dTemp_errmax .and. &
                  dzTsn < dTemp_errmax .and. &
                  dzTin < dTemp_errmax .and. &
                  abs(ferr) < 0.9_dbl_kin

[2021-03-15 16:37] dabail10 commented on #279
I did add the shortwave "fix" to the mushy layer in CICE6, but only for the sea ice part. This is turned on via the sw_redist flag and is off by default for ktherm=2. The fraction moved is sw_frac and the temperature threshold is sw_dTemp.

Dave

    if (sw_redist) then

    dt_rhoi_hlyr = dt / (rhoi*hilyr)

    do k = 1, nilyr

       Iswabs_tmp = c0 ! all Iswabs is moved into fswsfc

       Tmlt

[2021-03-15 16:40] dabail10 commented on #338
I believe this is related to #333

[2021-03-15 16:47] eclare108213 commented on #233
@njeffery The 0.9*ferrmax factor for lconverged (in the comment immediately above) is in Icepack now.  Is this sufficient to fix the original error, or do we need the factor somewhere else too?  It looks like you might have added it in a lot of places.

I prefer the fix using the 1.1 factor -- @dabail10 where in the (CESM) code did you put that?
Thx, e

[2021-03-15 16:54] dabail10 commented on #233
This fix goes in the final convergence check in icepack_therm_vertical where ferrmax is used.

[2021-03-15 17:15] njeffery commented on #233
In the MPAS-O version, I  added the 0.9*ferrmax condition to the mushy two_stage_solver_snow and two_stage_solver_nosnow following the picard solve.  This is done twice in each routine because of the if statement separating the two surface types.

________________________________
From: Elizabeth Hunke ***@***.***>
Sent: Monday, March 15, 2021 10:47:45 AM
To: CICE-Consortium/Icepack
Cc: Jeffery, Ni

[2021-03-15 22:53] eclare108213 commented on #279
Here is how @MichaelWinton fixed the problem that turned up in SIS.  Is this fundamentally the same thing as yours, @dabail10 (except yours only occurs with sw_redist=T) ?  This seems reasonable to me.

`    else
       ! case without snow

       ! run the two stage solver
       call two_stage_solver_nosnow(nilyr,       nslyr,      &
                                    Tsf,         Tsf0,       &

[2021-03-16 04:09] dabail10 commented on #279
This is probably fine, except that it always takes 100% and assumes the snow only has one layer? Does this only happen when the snow is very thin? That is less than hs_min or puny?

[2021-03-16 12:38] eclare108213 commented on #279
Yes, this only done in the mushy thermo for the "nosnow" case, but apparently there can still be some tiny amount of snow which does influence the solution in dEdd.  My preference would be to fix this properly in the shortwave module so that it is correct for any thermodynamics option -- the fix would be basically the same as above, only (and always) done for the case of negligible snow.  It might

[2021-03-17 15:41] #233 closed

[2021-03-17 15:42] #333 closed

[2021-03-18 20:01] #317 closed

[2021-03-23 15:55] eclare108213 opened #357 "incorrect reference"
This reference is incorrect in the Icepack documentation:

Saha, S., Moorthi, S., Wu, X., Wang, J., Nadiga, S., Tripp, P., Behringer, D., Hou, Y., Chuang, H., Iredell, M., Ek, M., Meng, J., Yang, R., Mendez, M. P., van den Dool, H., Zhang, Q., Wang, W., Chen, M., & Becker, E. (2014). The NCEP Climate Forecast System Version 2, Journal of Climate, 27(6), 2185-2208.  http://dx.doi.org/10.1175/JCLI-D

[2021-03-23 17:31] #279 closed

[2021-03-24 13:19] eclare108213 commented on #338
I'll close this issue, assuming that #333 takes care of it.  If it pops up again we can reopen.

[2021-03-24 13:19] #338 closed

[2021-03-27 01:10] #357 closed

[2021-05-18 20:53] phil-blain opened #361 "Two questions about `atmo_boundary_layer`"
Hi everyone, I'm working on upstreaming some changes we've made to subroutine `atmo_boundary_layer` in module  **`icepack_atmo`**.

I have two questions about some part of the code that I'm not sure about:

1. In the iteration part of the subroutine, we compute the stability function in the stable case following Jordan et al 1999:
 https://github.com/CICE-Consortium/Icepack/blob/5cf223287d06167bb8

[2021-05-18 21:18] dabail10 commented on #361
I guess I've never looked at this code very closely before. The while loop was added recently, but the default behaviour should still be the same where it always does 5 iterations. I'll have to do some digging. We have very similar code in the CESM coupler (shr_flux_mod.F90).

[2021-05-19 00:34] eclare108213 commented on #361
The original code came from CESM (a long time ago, before it was CESM), and I added the Jordan stability part later.  I'll admit I've never paid much attention to the diagnostic fields Tref and Qref -- those were from CESM, for CESM, and I haven't gotten feedback on whether they're doing the right thing until now!  They shouldn't matter for the solution because they're only diagnostic, right?  The

[2021-05-19 04:32] proteanplanet commented on #361
The reason this code is the way it is that the Community Atmosphere Model and other atmospheric models, too, require consistent _state fields_ at the standard reference values for their own diagnostics and physics, and this must be calculated uniformly across all coupled components - the ocean, land and sea ice, and be consistent with the atmospheric model.  Conversely, each of these components ha

[2021-05-19 15:01] dabail10 commented on #361
Thanks for pointing this out @proteanplanet. These are intended as diagnostics for the atmospheric component. They are not used elsewhere in the CICE code as far as I am aware. Here is the equivalent code in CESM shr_flux_mod.F90:

          !------------------------------------------------------------
          ! compute diagnositcs: 2m ref T & Q, 10m wind speed squared
          !---------------

[2021-05-19 15:04] phil-blain commented on #361
Another thing I'm noticing just now is that the unit step function  `stable` is not re-computed for the diagnostics, so it is still evaluated at the original (non-shifted) `hol` value...

[2021-05-20 18:40] apcraig commented on #194
Just fyi, we move to lcov and the new code coverage output is here, https://apcraig.github.io/

[2021-06-08 14:22] mhrib commented on #361
Possible singularity??
https://github.com/CICE-Consortium/Icepack/blob/5cf223287d06167bb813d1fc2248258034511017/columnphysics/icepack_atmo.F90#L298-L299

For `psixh=alz+vonkar/rhn` , the denominator will be zero and rh infinity. Thereby `shcoef` will get large(infinity) and so will fsensn:
https://github.com/CICE-Consortium/Icepack/blob/5cf223287d06167bb813d1fc2248258034511017/columnphysics/icepac

[2021-06-08 19:42] proteanplanet commented on #361
@mhrib I'm struggling to understand why psixh=alz+vonkar/rhn would occur.  Have you encountered this in your simulations?

[2021-06-08 19:56] proteanplanet commented on #361
@TillRasmussen High frequency ensures that stress can go to zero while the turbulent heat flux terms (sensible, latent) do not go to zero with no wind forcing.  High frequency also ensures that the sea ice can complete inertial loops with the apparent wind speed, bearing in mind that during an inertial oscillation with a weak geostrophic flow, the ice will at times be traveling in exactly the oppo

[2021-06-08 22:43] mhrib commented on #361
@proteanplanet  No, we (Till and I) have not encountered this in our simulations. It is just considerations, but seems to be relevant here.

We recently got strange and unphysical fluxes of latent heat (flatn > 1000 W/m2) once in a while using ERA5 forcing, and formdrag+highfreq turned on. We tried to debug writing out a lot of variables when it happens and found, that lhcoef takes very high value

[2021-06-08 22:47] proteanplanet commented on #361
@mhrib If time allows, we could discuss this at the end of the CICE call tomorrow. Previous application of form drag to RASM (fully coupled, regional model) proved difficult and was abandoned.

[2021-06-11 15:55] TillRasmussen commented on #361
After the meeting yesterday I calculated some diagnostics of possible solutions for the variable re (line 298). x axis is ren which is equivalent to the atmospheric drag coefficient (Cdn_atm). This is limited to .02 in the form drag calculations. hol i limited to [-10 10]. All values where hol is negativ results in an instable atmsophere, which only happens when 2 meter atmospheric temperature is

[2021-06-15 16:20] eclare108213 commented on #361
Returning to @phil-blain's questions about subroutine `atmo_boundary_layer` in module **`icepack_atmo`**.

This sounds like an implementation error.  If it only affects `Tref` and `Qref` then it doesn't matter for the (ice) solution, but it would better to be consistent.  Changing it should be BFB in stand-alone configurations for prognostic variables.

Likewise, it would be better to be consisten

[2021-06-15 16:22] eclare108213 commented on #361
@TillRasmussen
I'm not sure where to go next with your comments.  What is your conclusion, or do you have a request for us to follow up?

[2021-06-16 06:29] TillRasmussen commented on #361
I think that my conclusion for now is the same same @proteanplanet that the combination of formdrag and this calculation of latent and sensible heat provides unrealistic high fluxes thus it should be used with cautious until it is improved or a potential bug is found. I will try to dig a bit further into this. We have seen this when running stand alone, coupled to nemo 4 and to HYCOM. All forced w

[2021-08-30 00:25] apcraig commented on #351
close?

[2021-08-30 00:26] eclare108213 commented on #351
yes!

[2021-08-30 00:26] #351 closed

[2021-10-07 15:33] eclare108213 opened #373 "missing documentation"
The variable index is empty, there is a problem with the forum link, and also need to clarify where to find the forcing variable information.

Simon Driscoll writes:

[2021-10-07 21:07] dabail10 commented on #373
Yes, we had a power outage at the Mesa yesterday and they are still trying to recover. In fact, I was at the office for in person meetings this morning but then came home to do Zoom meetings. I'll try to take a look at this tomorrow.

[2021-10-08 22:25] apcraig commented on #373
I think we could close this.  Did anyone get back to Simon?  I see he/she posted something on the forum.

[2021-10-08 22:26] dabail10 commented on #373
Yes, we have replied on the forum now that it is working again.

[2021-10-08 22:33] eclare108213 commented on #373
The zenodo weirdness remains, but we could make that a separate issue and include some other issues with zenodo like how datasets are documented there.

[2021-10-12 18:13] #373 closed, assigned to apcraig, dabail10

[2021-10-20 20:47] phil-blain opened #375 "icepack_therm_vertical: add new local variables `delt`, `deltq` instead of using `worka`, `workb`"
While comparing CICE6 with CICE4 in the context of my project, I noticed that the variables `worka`, `workb` in subroutine `icepack_step_therm1` should probably be renamed to `delt`, `deltq` (or at least new variables created with these names).

They are declared here:
https://github.com/CICE-Consortium/Icepack/blob/27b872c8882af2521a350633d9a7d088844b6a2f/columnphysics/icepack_therm_vertical.F90#

[2021-10-20 22:10] eclare108213 commented on #375
Changing the names of local variables is fine with me, if it makes the code easier to follow.  Reusing work arrays was originally to minimize memory use but we can hardly claim to be efficient with that anymore.

intent(inout) was used to prevent an extra copy when passing arguments in and out of subroutines, and so was used throughout the code for this small bit of computational efficiency gain.

[2021-11-30 13:02] TillRasmussen opened #377 "Order of calls in icepack_therm_vertical.F90"
Should the neutral_drag_coeffs subroutine be called before the  frzmlt_bottom_lateral subroutine within the icepack_therm_vertical module?
neutral_drag_coeffs update the ocean drag which is used in the frzmlt_bottom_lateral, however the frzmlt_bottom_lateral routine is called first which means that Cdn_ocn from the previous time step is used-

[2021-11-30 22:49] eclare108213 commented on #377
Wow.  I'll need to dig a bit to understand why this was done, or if it was always this way.  Did you try running it both ways, to see how much of a difference it makes?

[2021-12-01 05:08] dabail10 commented on #377
This subroutine is only called when formdrag is on. This is a relatively new formulation and I don't believe it has been blessed. However, it probably should be called before frzmlt_bottom_lateral when formdrag is .true.

[2021-12-01 14:52] TillRasmussen commented on #377
@eclare108213  I did not try to rerun swapping the order, however I think that the change will be small. The current setup will utilize the ocean drag from the previous time step or initialization and only when formdrag is on. I think that the biggest difference is when the model is cold started/restarted.
@dabail10 time is a relative measure :)
The reason I got to look at this was based on this s

[2021-12-07 07:10] TillRasmussen commented on #377
The change passed the qc  test. I will make a pull request

[2022-01-07 19:31] eclare108213 opened #383 "FSD improvements"
@lettie-roach and colleagues have developed a new ML-based approach for wave-ice floe fracture, which involves changes to both CICE and Icepack.  The code is currently in her forks:
https://github.com/lettie-roach/Icepack/releases/tag/Icepack1.2.4_with_WIFF1.0
https://github.com/lettie-roach/CICE/releases/tag/CICE6.1.4_with_WIFF1.0

@lettie-roach plans to merge these changes into the Consortium's

[2022-01-27 01:25] eclare108213 opened #385 "Frazil ice temperature limiting"
(in add_new_ice)
https://github.com/CICE-Consortium/Icepack/blob/f6458558b8e7c6bc58eaa8fb33b90b230650f38e/columnphysics/icepack_therm_itd.F90#L1565

The limiting of mush temperature to -0.1C for small salinities (less than 1.844 ppt, I think) "significantly influences year-to-year variations in AMOC" as noted in an E3SM PR where @proteanplanet removed it from add_new_ice and the mct coupler (it al

[2022-01-27 08:42] TillRasmussen commented on #385
I/we have not been too focused on the AMOC in our operational setup. But yes it could be interesting to see the effect.

[2022-01-27 16:26] dabail10 commented on #385
This is interesting. I had not noticed this before. So, we do not use this method for setting the salinity and temperature of frazil. However, I am currently working on code that will do this better.

[2022-02-04 18:24] dabail10 commented on #385
Sorry, I read this backward initially. The maximum value of the temperature here is set to -0.1C. I wonder if this is motivated to be similar to the "correction" that we make when the shortwave is still penetrating the sea ice at warm temperatures. I guess we don't want it too close to 0C. Has anyone done simulations where this is set to -0.01 or something? I wonder if the liquidus curve gets wack

[2022-02-04 19:06] dabail10 commented on #385
The E3SM PR indicates this came in in 2013 into CICE. In fact, it was introduced in the 5.1 series.

https://github.com/CICE-Consortium/CICE-svn-trunk/commit/b973671bb0042ce7486feeac46eed1da41df60cc#diff-41cf6794ba4200b839c53531555f0f3998df4cbb01a4d5cb0b94e3ca5e23947d

[2022-02-04 19:12] eclare108213 commented on #385
Yes.  My question is whether it was in CESM first, or somewhere else.  Just trying to understand the motivation.

[2022-02-04 19:24] dabail10 commented on #385
This did not come from CESM. This looks like it was part of work that Adrian was doing when coupling CICE to MPAS-O. I received this document from Andrew last year. The document is from 2015. We did not even use CICE5.1 until 2016 I believe.

[frazil_formation_in_mpas-o.pdf](https://github.com/CICE-Consortium/Icepack/files/8005597/frazil_formation_in_mpas-o.pdf)

So, the bottom line is that we can

[2022-02-04 19:30] eclare108213 commented on #385
Okay, thank you.  I'll go back to Adrian!

Can you test it in CESM before changing it in the repo?  I think it should be changed, but I don't want to jump too quickly.  Better to understand what impact it has.

[2022-02-04 19:35] dabail10 commented on #385
Good plan.

[2022-03-09 18:28] dabail10 opened #388 "Small bug in temperature_changes_salinity."
In the subroutine temperature_changes_salinity in ice_therm_mushy.F90, the variable snoice should be intent inout.

[code]

snoicen is initialized to zero in icepack_therm_vertical.F90, but then this is ignored in temperature_changes_salinity. So, in short one can get accumulation in snoicen when there is no ice. However, this disappears in snoice (the grid cell version) because it is merged using

[2022-05-03 14:41] dabail10 opened #390 "update_ocn_f problem"
Not sure when this code came in, but there is a bug here. When update_ocn_f is true, we do need to compute the freshwater and salt due to frazil formation even for ktherm == 2. This was supposed to be "somewhere" else, but I don't see where it is done.

[code]

[2022-05-26 21:00] dabail10 opened #391 "sadded"
Does anyone know why the sadded line in flood_ice (icepack_therm_mushy.F90) is commented out?

!      sadded = wadded * ice_ref_salinity * p001

[2022-06-28 19:13] eclare108213 commented on #179
These slides concerning the Icepack interface have been used in discussions of the upcoming Icepack / MPAS-SI column physics merge.  [Icepack_Package-2.pptx](https://github.com/CICE-Consortium/Icepack/files/9004010/Icepack_Package-2.pptx)

The primary documentation for the process is in [E3SM's Confluence space]
(https://acme-climate.atlassian.net/wiki/spaces/ICE/pages/3408723974/Sea+Ice), which r

[2022-07-08 21:01] eclare108213 commented on #179
[Design document currently under review / revision](https://github.com/CICE-Consortium/Icepack/files/9074999/ICE-3408625791-080722-2057.pdf)

[2022-07-11 18:29] eclare108213 commented on #390
I think it's in ice_comp_mct.F, at least in E3SM.  The logic associated with update_ocn_f is extremely convoluted and confusing.  I'd like to fix it as part of the Icepack merge effort - will need to discuss how to implement it broadly, since it likely will affect many/most coupled model configurations.

See lines 1973ff and 2555-2556 in
https://github.com/E3SM-Project/E3SM/blob/302618e817d9c4299a

[2022-07-11 18:50] eclare108213 commented on #391
@dabail10 you commented this (sadded) line out in PR #142
https://github.com/CICE-Consortium/Icepack/commit/13558b206713051d25db23c39309b5896ca03288

[2022-07-11 22:57] dabail10 commented on #391
I guess the more relevant question is why is sadded not used anywhere?

[2022-07-11 23:41] eclare108213 commented on #391
Good point.  wadded is not used either, except for sadded.  eadded is used for an 'advective heat flux' associated with flooding.  I'm not sure why mass of water and salt are not treated the same way -- they might be captured elsewhere but it's not clear.  We are planning to work through all of these issues as part of the merge process.

[2022-08-10 17:22] apcraig commented on #248
Closing, seems to be done.

[2022-08-10 17:22] #248 closed

[2022-09-14 01:29] eclare108213 commented on #294
Question:  This command appears in the conda setup instructions for both CICE and Icepack:
`conda env create -f configuration/scripts/machines/environment.yml`
with a comment that "You will need to clone [CICE/Icepack] to run the following command", and then after the command, "This step needs to be done only once."  Does it need to be done only once for either CICE or Icepack on a particular lapt

[2022-09-14 02:13] apcraig commented on #294
I believe it should be once for Icepack and once for CICE.

[2022-09-20 13:37] phil-blain commented on #294
I confirm. The Icepack environment is named `icepack` and the CICE environment is named `cice` (see `environment.yml` in both repos).

[2022-09-28 16:13] cmbitz opened #401 "closing/flushing nu_diag at end"
When I compiled with netcdf, I had to add a
close(nu_diag)
or
flush(nu_diag)
at the end of the program icedrv, otherwise I don't get the last output written to the log file, including the ICEPACK COMPLETED statement, and the stdio would echo "ICEPACK run did not complete".

I tried making it a
call icepack_warnings_flush(nu_diag)
but it didn't work

I'm using my macbook pro with Monterey OSX and g

[2022-09-28 16:33] eclare108213 commented on #401
HI CC,
I also have been having this problem and hadn't fixed it.  Which OSX are you running?  I'm having trouble with Monterey 12.4 on my regular laptop, using the conda environment.  The loaner laptop last week did not have this issue, running OSX Big Sur 11.6.2.  If the close statement is enough to fix it, let's do that...

[2022-09-28 16:54] cmbitz commented on #401
I'm running OSX Monterey 12.6. Thanks for entertaining the fix for me, though it is the OS's problem.

[2022-10-06 17:28] eclare108213 opened #402 "Check consistency of snow-transition parameter documentation"
See https://bb.cgd.ucar.edu/cesm/threads/snow-depth-transition-to-bare-sea-ice-icepack.7700/

[2022-10-06 17:46] phil-blain commented on #402
See also https://github.com/CICE-Consortium/CICE/issues/635 ?

[2022-10-06 17:59] eclare108213 commented on #402
Thanks for pointing that one out -- I'll close this and add the forum link to that one.

[2022-10-06 17:59] #402 closed

[2022-10-07 22:09] eclare108213 opened #404 "timeseries plots in conda environment"
I'm not sure if this is a problem with my particular conda setup, but it would be nice to have gnuplot (or some equivalent) available for use with the timeseries.csh script (which I copied from configuration/scripts/tests into my local test directory).

`$ ./timeseries.csh logs/ice_diag.full_ITD.221007-155537`
`Plotting data for 'area fraction' and saving to logs/ice_diag.full_ITD.221007-155537_ar

[2022-10-11 13:03] phil-blain commented on #404
Hi @eclare108213, in CICE we now have a Python version of this script that gets copied into `$ICE_CASEDIR` along with the gnuplot version. Maybe this is just a matter of adding that Python script to the Icepack repo?

[2022-10-12 18:41] eclare108213 opened #407 "documentation for calc_dragio and formdrag options"
The current documentation is difficult to find and perhaps confusing.  E.g. calc_dragio is listed in the index and case settings, but isn't mentioned in the text where it's used.  I initially thought it was a variable-drag formulation, but that doesn't seem to be the case.

The form drag documentation also needs to be reviewed and clarified, if needed.

Is it possible that calc_dragio and formdrag

[2022-10-13 18:58] njeffery opened #408 "Index error in bgc tracer for shortwave calculations"
The tracer array is reduced before passing to ice shortwave for chlorophyll radiative calculations, but the shortwave subroutine assumes that the full tracer is present.  In MPAS-seaice, the full tracer is passed.

[2022-10-14 13:42] eclare108213 commented on #408
@njeffery Could you provide a few more details?  Which tracer array, where it is reduced but shouldn't be, etc.  Linking to lines of code in either Icepack or MPAS-SI would be very helpful, or submit a draft PR with code diffs (doesn't need to be ready to merge) in either the Consortium repo or the E3SM Icepack fork, or just tell us what/where to change.  Thanks

[2022-10-14 14:44] njeffery commented on #408
@elare108213: The bug only impacts the shortwave scheme when BGC is active and the flag to turn on chlorophyll absorption is on. So, not critical for most configurations. There are two ways to correct the error. Either continue using the subset of trcrn  and change the index in the shortwave scheme or pass the full trcrn and keep the index as it is.  The latter is what's done in mpas-seaice.  Sinc

[2022-10-14 14:45] njeffery commented on #408
A similar problem also occurs for the z-aerosols.

https://github.com/E3SM-Project/E3SM/blob/master/components/mpas-seaice/src/column/ice_shortwave.F90#L3886
https://github.com/CICE-Consortium/Icepack/blob/main/columnphysics/icepack_shortwave.F90#L3912

[2022-10-14 17:54] eclare108213 commented on #408
If I understand correctly, Icepack (and CICE) send in and use a slice of the full tracer array, while MPAS-SI sends in and uses the entire tracer array.  Therefore the indexing in the radiation routines is different in the two codes but consistent in both places.  Is that correct?  If so, then this is not necessarily a bug in the current Icepack code, but rather something we will fix (one way or t

[2022-10-14 18:33] njeffery commented on #408
@eclare108213: Yes, you're right!  I looked too quickly yesterday and mistakenly thought the indexing was the same in the two codes.  You can close this issue.

[2022-10-14 18:40] eclare108213 commented on #408
Thanks for pointing it out -- we will need to decide how to handle the tracer arrays as they are passed through the interface.

[2022-10-14 18:40] #408 closed

[2022-11-07 14:27] eclare108213 commented on #385
Fixed in https://github.com/E3SM-Project/Icepack/pull/13

[2022-11-07 14:27] #385 closed

[2022-11-10 23:02] apcraig opened #410 "Add support for disabling thermodynamics"
See #389 for reference.

[2022-11-29 18:20] eclare108213 opened #416 "investigate impacts of advanced snow physics"
QC runs with the advanced snow physics (including both wind redistribution and wet/dry metamorphosis) are surprisingly different from the default configuration.  See plots in https://github.com/CICE-Consortium/Icepack/pull/415.  These are 5-year standalone CICE runs, gx1 configuration with and without snow options and a couple of bug fixes.

@njeffery: is the magnitude of the differences what you'

[2022-11-29 18:27] eclare108213 commented on #416
Snow thickness results from E3SM indicated that snow aging (metamorphism) increases snow depth in both hemispheres while snow redistribution decreases it (it blows into leads), with the net effect of less snow in the northern hemisphere and more in the southern hemisphere.  The QC results show increased ice thickness in both hemispheres, which would be consistent with increased snow depth in both

[2022-11-29 18:56] eclare108213 commented on #416
I'm not entirely sure what the QC configuration actually includes, e.g. does it use the ocean forcing file?  Does it have monthly output in addition to the daily ice thickness snapshots?  @apcraig please, would you post ice_in here for a baseline case?

[2022-11-29 19:11] apcraig commented on #416
The following is ice_in from cice.cb58257857.221126-095037/cheyenne_intel_qcchk_gx1_144x1_medium_qc_qcchk.

[ice_in.txt](https://github.com/CICE-Consortium/Icepack/files/10116490/ice_in.txt)

[2022-11-29 19:39] eclare108213 commented on #416
From https://github.com/CICE-Consortium/Icepack/pull/415:

Ah, that helps - different initial conditions will make a big difference.  For QC, the ice thickness data are daily snapshots, but the plots say 'mean ice thickness' so those must be some average of the daily output. Monthly output is not written so we probably can't make CESM diagnostics from these files.

The snow aging table in snow_nml

[2022-11-29 23:00] apcraig commented on #416
One more data point, ran a QC for the standard run + icdefault.  This is with snw options off.  3 images follow, standard run + icdefault, current snw options run + icdefault (required), difference.  The runs still fail QC but the differences in the thickness are reduced relative to comparisons with the standard run from a restart file.

![ice_thickness_cheyenne_intel_smoke_gx1_144x1_icdefault_med